
<div class="page-header">
  <h1>Johdanto</h1>
</div>
<h2>Sisällysluettelo</h2>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" ng-click="goto_anchor('1-tietoa')">1. Tietoa</a></li>
  <li><a href="" ng-click="goto_anchor('2-harjoitustyon-eteneminen')">2. Harjoitustyön eteneminen</a></li>
</ul>

<hr>
<a id="1-tietoa"></a>
<h2>1. Tietoa</h2>
<p>
  Tässä materiaalissa toteutetaan tietokantasovellus laitoksen <stron>users-palvelimelle</strong> käyttäen <strong>
  <a href="http://fi.wikipedia.org/wiki/PHP" target="_blank">PHP</a></strong>-ohjelmointikieltä 
  ja sen tärkeimpiä kirjastoja sekä <strong><a href="http://www.postgresql.org/" target="_blank">PostgreSQL</a>
  </strong>-tietokantaa. Materiaalissa työskennellään jonkin verran terminaalin kanssa, joten <strong>Linuxin
  </strong> tai <strong>OS X:n</strong> käyttäminen sovelluksen toteuttamisessa on erittäin suotavaa. 
  <strong>Toisaalta</strong> koska asiat ovat muuttuneet on bash:in käyttö Windows 10:ssä mahdollista eli devauksen 
  pitäisi onnistua yhtä hyvin kuin Unix-ympäristössä.
</p>
<p>
  Jos sinulla ei ole Windows 10:tä kannattaa tutustua <a href="https://www.virtualbox.org/" target="_blank">
  VirtualBox</a>:iin (<a href="http://www.psychocats.net/ubuntu/virtualbox" target="_blank">täältä</a> löytyy 
  hyvä ohje Ubuntun pyörittämiseen Virtualboxin kautta Windowsissa). Työskentely VirtualBoxin kanssa kuitenkin on 
  luultavasti epämukavaa joten kannattaa harkita devaamista pelkästään koulun koneella tai Herokun käyttämistä 
  users:in sijaan. Ongelmana siis vain on että joka kerta kun haluat deployata sovelluksesi on sen siirtäminen 
  Herokuun paljon hitaampaa kuin users:iin. Nopein tapahan olisi PHP5:n ja Apachen asentaminen omalle koneelle 
  mutta se on ehkä turhan iso työ.
</p>
<p>
  Jos haluat toteuttaa sovelluksesi Javalla, kannattaa tutustua <a href="http://advancedkittenry.github.io/koodaaminen/java/index.html" 
  target="_blank">tähän</a> 
  materiaaliin. Myös muut toteutusvaihtoehdot 
  ovat mahdollisia, kunhan sovit asiasta ohjaajan kanssa. Kannattaa kuitenkin muistaa, että tarkoituksena olisi 
  opetella SQL-kyselyiden tekoa, joten ORM:in käyttö ei ole sallittua. Joten esim. Ruby on Railisin tai Sailsin 
  kanssa joutuu hivenen näpertämään mutta kyllä sekin onnistuu. 
</p>
<p>
  <a href="https://gist.github.com/TeemuKoivisto/9a111a8facfa3ba1a03681f4fac86009" target="_blank">Tässä</a> on myöskin 
  ohjeet jos haluat deployata Node- tai muun projektisi usersiin Herokun sijasta.
</p>
<p>
  Jos löydät materiaalista korjattavaa voit tehdä pull requestin 
  <a href="https://github.com/Tsoha/tsoha.github.io" target="_blank">tänne</a>.
</p>
<hr>
<a id="2-harjoitustyon-eteneminen"></a>
<h2>2. Harjoitustyön eteneminen</h2>
<h3><a href="#/viikko1#top">Viikko 1</a></h3>
<ul>
  <li>Web-sovellusten toimintaperiaatteet</a></li>
  <li>MVC-malli</li>
  <li>Työympäristön pystyttäminen</li>
  <li>Perusasioiden dokumentointi</li>
</ul>
<h3><a href="#/viikko2#top">Viikko 2</a></h3>
<ul>
  <li>Työkalut</li>
  <li>Kontrollerit ja reitit</li>
  <li>Näkymät</li>
  <li>Tietokantayhteyden muodostaminen ja tietokantataulut</li>
</ul>
<h3><a href="#/viikko3#top">Viikko 3</a></h3>
<ul>
  <li>PHP haltuun</h1>
  <li>Mallit</li>
  <li>Kontrollerit ja mallit</a></li>
  <li>Lomakkeet ja lisäystoiminnot</a></li>
</ul>
<h3><a href="#/viikko4#top">Viikko 4</a></h3>
<ul>
  <li>Mallien validointi</a></li>
  <li>Muokkaus- ja poistotoiminnot</a></li>
  <li>Kirjautuminen</a></li>
</ul>
<h3><a href="#/viikko5#top">Viikko 5</a></h3>
<ul>
  <li>Kirjautumisen tarkistus ja uloskirjautuminen</li>
  <li>Oman sovelluksen laajentaminen</li>
  <li>Dokumentaation viimeistely</li>
  <li>Pientä hienosäätöä</li>
  <li>Lisenssin valinta</li>
</ul>
<h3><a href="#/lopullinen-palautus#top">Lopullinen palautus</a></h3>
<a href="#/viikko1#top" class="btn btn-default pull-right">Viikko 1 <span class="glyphicon glyphicon-chevron-right"></span></a>
