<div class="page-header">
  <h1>Aikataulu (periodi IV)</h1>
</div>
<h2>Sisällysluettelo</h2>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" ng-click="goto_anchor('1-paja-ajat')">Paja-ajat</a></li>
  <li><a href="" ng-click="goto_anchor('2-deadlinet')">Deadlinet</a></li>
</ul>

<section id="1-paja-ajat" class="level3">
<h2>Paja-ajat</h2>
<p><span class="coursekeyword paja-ajat-intro">Henkilökohtaisia tapaamisia on tarvittaessa mahdollista sopia ohjaajan kanssa irkin välityksellä tai sähköpostilla. Huomioi että ajat saattavat välillä vaihtua syystä tai toisesta joten varmin tapa on katsoa ne kurssisivulta jos ohjaaja tämän sivun unohtaakin päivittää.</span></p>
<table class="table table-striped table-bordered">
<thead>
<tr class="header">
<th style="text-align: left;">Aika</th>
<th style="text-align: left;">Huone</th>
<th style="text-align: left;">Ohjaaja</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Ti klo 14-16</td>
<td style="text-align: left;">C221</td>
<td style="text-align: left;">Arto Vihavainen</td>
</tr>
<tr class="even">
<td style="text-align: left;">To klo 14-16</td>
<td style="text-align: left;">C221</td>
<td style="text-align: left;">Teemu Koivisto</td>
</tr>
</tbody>
</table>
</section>

<section id="2-deadlinet" class="level3">
<h2>Deadlinet</h2>
<table class="table table-striped table-bordered">
<thead>
<tr class="header">
<th style="text-align: left;">Tapahtuma</th>
<th style="text-align: left;">Työaihe</th>
<th style="text-align: left;">Deadline</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;"><a href="#viikko1">Viikko I</a></td>
<td style="text-align: left;">Aiheen valinta, repon luonti (muista issuet!), työympäristön pystytys ja Labtooliin rekisteröityminen. Dokumentaation 1. ja 2. kappaleet.</td>
<td style="text-align: left;"><span class="coursekeyword deadline1">ma 21.3 klo 23:59</span></td>
</tr>
<tr class="even">
<td style="text-align: left;"><a href="#viikko2">Viikko II</a></td>
<td style="text-align: left;">Käyttöliittymän suunnittelu, tietokannan käyttöönotto. Dokumentaation 3. ja 4. kappaleet.</td>
<td style="text-align: left;"><span class="coursekeyword deadline2">ma 4.4 klo 23:59</span></td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a href="#viikko3">Viikko III</a></td>
<td style="text-align: left;">Ensimmäinen malliluokka ja kontrolleri. Koodikatselmointi.</td>
<td style="text-align: left;"><span class="coursekeyword deadline3">ma 11.4 klo 23:59</span></td>
</tr>
<tr class="even">
<td style="text-align: left;"><a href="#viikko4">Viikko IV</a></td>
<td style="text-align: left;">Validointi, muokkaaminen, poisto ja kirjautuminen. Dokumentaation 5. ja 6. kappaleet.</td>
<td style="text-align: left;"><span class="coursekeyword deadline4">ma 18.4 klo 23:59</span></td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a href="#viikko5">Viikko V</a></td>
<td style="text-align: left;">Sovellus on lähes valmis! Uloskirjautuminen ja muuta viimeistelyä. Dokumentaation 7. kappale. Koodikatselmointi.</td>
<td style="text-align: left;"><span class="coursekeyword deadline5">ma 25.4 klo 23:59</span></td>
</tr>
<tr class="even">
<td style="text-align: left;">Demoviikko</td>
<td style="text-align: left;">Esitellään sovellusta ja sen koodia muille opiskelijoille (pakollinen).</td>
<td style="text-align: left;"><span class="coursekeyword demodeadline">tobedecided</span></td>
</tr>
<tr class="odd">
<td style="text-align: left;"><a href="#lopullinen-palautus">Palautus</a></td>
<td style="text-align: left;">Valmis sovellus palautetaan GitHubiin aikatauluun mennessä.</td>
<td style="text-align: left;"><span class="coursekeyword palautusdeadline">su 8.5 klo 23:59</span></td>
</tr>
</tbody>
</table>
</section>