<div class="page-header">
  <h1>Viikko 5</h1>
</div>
<h2>Sisällysluettelo</h2>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" ng-click="goto_anchor('1-kirjautumisen-tarkistus-ja-uloskirjautuminen')">1. Kirjautumisen tarkistus ja uloskirjautuminen</a></li>
  <li><a href="" ng-click="goto_anchor('2-oman-sovelluksen-laajentaminen')">2. Oman sovelluksen laajentaminen</a></li>
  <li><a href="" ng-click="goto_anchor('3-dokumentaation-viimeistely')">3. Dokumentaation viimeistely</a></li>
  <li><a href="" ng-click="goto_anchor('4-pienta-hienosaatoa')">4. Pientä hienosäätöä</a></li>
  <li><a href="" ng-click="goto_anchor('5-lisenssin-valinta')">5. Lisenssin valinta</a></li>
  <li><a href="" ng-click="goto_anchor('6-palautuksen-vaatimukset')">6. Palautuksen vaatimukset</a></li>
</ul>
<hr>
<a id="1-kirjautumisen-tarkistus-ja-uloskirjautuminen"></a>
<h2>1. Kirjautumisen tarkistus ja uloskirjautuminen</h2>

<h3>1.1 Kirjautumisen tarkistus</h3>
<p>
  En halua, että kirjautumaton käyttäjä pääsee katsomaan peleihin liittyviä sivuja. Lisään siis <code>lib/base_controller.php</code>-tiedostossa sijaitsevaan <code>BaseController</code>-luokkaan metodin, joka ohjaa käyttäjän kirjautumissivulle, jos hän ei ole kirjautunut sisään:
</p>

<div hljs language="php" no-escape>class BaseController{

  public static function check_logged_in(){
    if(!isset($_SESSION['user'])){
      Redirect::to('/login', array('message' => 'Kirjaudu ensin sisään!'));
    }
  }
  //...
}</div>

<p>
  Se on siinä! Katsomme metodissa vain, löytyykö <code>$_SESSION</code>-assosiaatiolistasta avain <code>user</code>, jonka asetamme käyttäjän kirjautumisen yhteydessä. Jos avainta ei löydy, tarkoittaa se sitä, ettei käyttäjä ole kirjautunut sisään, jolloin ohjaamme hänet kirjautumissivulle. Otan seuraavaksi toteuttamani metodin käyttöön <code>GameController</code>-luokassani:
</p>

<div hljs language="php" no-escape>class GameController extends BaseController{

  public static function index(){
    self::check_logged_in();
    //...
  }

  public static function show($id){
    self::check_logged_in();
    //...
  }

  public static function edit($id){
    self::check_logged_in();
    //...
  }

  public static function update($id){
    self::check_logged_in();
    //...
  }

  public static function create(){
    self::check_logged_in();
    //...
  }

  public static function store(){
    self::check_logged_in();
    //...
  }

  public static function destroy($id){
    self::check_logged_in();
    //...
  }
}</div>

<p>
  Voit hoitaa kirjautuneen käyttäjän tarkistamisen halutessasi myös <code>routes.php</code>-tiedostossa seuraavasti:
</p>

<div hljs language="php" no-escape>function check_logged_in(){
  BaseController::check_logged_in();
}


$routes->get('/game', 'check_logged_in', function(){
  GameController::index();
});

$routes->get('/game/new', 'check_logged_in', function(){
  GameController::create();
});

$routes->get('/game/:id', 'check_logged_in', function($id){
  GameController::show($id);
});

//...</div>

<p>
  Määrittelimme siis <code>routes.php</code>-tiedostoon funktion <code>check_logged_in</code>, joka kutsuu toteuttamaamme <code>BaseController</code>-luokan staattista metodia <code>check_logged_in</code>. Lisäksi lisäsimme jokaiseen reittiin, johon siirtyminen vaatii kirjautumisen, toisen parametrin ennen kutsuttavaa funktiota, joka kertoo, minkä nimistä funktiota tulee kutsua, ennen kuin kolmantena parametrina annettua funktiota kutsutaan. Kutsuttavien funktioiden nimiä voi olla monta, voit siis tehdä monta eri tarkastusta ennen kuin lopullista funktiota kutsutaan. Näin yksinkertaisessa tarkastuksessa tämä tapa on melko selkeä, mutta jos tarkastus on monimutkaisempi, esimerkiksi käyttöoikeuksiin liittyvä tarkastus, kannattaa se hoitaa kontrollerin puolella.
</p>

<p>
  Toteuta myös omaan sovellukseesi tarkistukset kirjautuneen käyttäjän osalta. Voit käyttää toteutukseen kumpaa tahansa kahdesta esitetystä tavasta, tai keksiä täysin oman tapasi. Omassa sovelluksessasi saattaa olla monimutkaisempia rajoituksia käyttäjäoikeuksille, mutta kaikki metodit käyttäjäoikeuksien tarkastamiseen kannattaa toteuttaa <code>BaseController</code>-luokkaan.
</p>

<h3>1.2 Uloskirjautuminen</h3>

<p>
  Seuraavaksi käyttäjä tarvitsee tietenkin mahdollisuuden kirjautua ulos. Lisään tätä varten <code>UserController</code>-luokkaan metodin <code>logout</code>:
</p>

<div hljs language="php" no-escape>class UserController extends BaseController{
  //...
  public static function logout(){
    $_SESSION['user'] = null;

    Redirect::to('/login', array('message' => 'Olet kirjautunut ulos!'));
  }
}</div>

<p>
  <code>logout</code>-metodissa asetamme <code>$_SESSION</code>-assosiaatiolistan avaimen <code>user</code> arvoksi <code>null</code>, jolloin sessio käyttäjän kirjautumisesta poistetaan. Session poistamisen jälkeen ohjaan käyttäjän kirjautumissivulle. Lisään vielä reitin joka ohjaa POST-pyynnön polkuun <code>/logout</code> toteuttamalleni metodille:
</p>

<div hljs language="php" no-escape>//...
$routes->post('/logout', function(){
  UserController::logout();
});</div>

<p>
  Lisään uloskirjautumista varten vielä painikkeen navigaatiopalkkiini. Tämä onnistuu muokkaamalla <code>app/views/base.html</code>-tiedostoa:
</p>

<div hljs language="xml"><!-- ... -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{base_path}}">Pelikirjasto</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <!-- ... -->
      </ul>

      {% if user_logged_in %}
        <form class="navbar-form navbar-right" method="post" action="{base_path}}/logout">
          <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
        </form>
      {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
<!-- ... --></div>
<hr>
<a id="2-oman-sovelluksen-laajentaminen"></a>
<h2>2. Oman sovelluksen laajentaminen</h2>

Voit käyttää seuraavaksi aikaa oman sovelluksesi laajentamiseen. Muistathan, että arvosanan viisi saamiseksi sovelluksessasi tulee olla vähintään kahdessa tietokohteessa CRUD-nelikko. <strong>Tällä viikolla ei kuitenkaan tarvitse toteuttaa uudelle tietokohteelle kokonaista CRUD-nelikkoa, listaus- ja esittelysivut riittävät hyvin</strong>. Lisäksi, jos sovelluksesasi on monesta-moneen-suhde tietokantataulujen välillä, kannattaa tällä viikolla miettiä, miten sitä voi käytännössä käyttää sovelluksessa. Koska kertaus on opintojen äiti, muistellaan seuraavaksi, mitä CRUD-nelikon toteuttamiseen liittyikään.

<h3>2.1 Monipuolisemmat lomakkeet</h3>

<p>
  Saatat tässä vaiheessa tarvita hieman monipuolisempia lomakkeita, kun tietokohteiden välille pitää toteuttaa yhdestä-moneen- ja jopa monesta-moneen-suhteita. Jos haluaisin liittää peliin sen lisäyslomakkeessa jonkin kategorian, voisi <a href="http://www.w3schools.com/tags/tag_select.asp" target="_blank">select</a>-valikon käytöstä olla hyötyä. Se on pudotusvalikko, jonka olet luultavasti nähnyt useilla sivuilla. Tässä esimerkki sen käytöstä:
</p>

<div class="row">
  <div class="col-md-6">
<div hljs language="xml"><div class="form-group">
  <label>Kategoria</label>
  <select class="form-control" name="category">
    {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
  </select>
</div></div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Kategoria</label>
      <select class="form-control" name="category">
        <option value="1">Toiminta</option>
        <option value="2">Tasohyppely</option>
        <option value="3">Urheilu</option>
      </select>
    </div>
  </div>
</div>

<p>
  <strong>Muista, että valittavat kohteet täytyy välittää näkymään, kuten muutkin näkymissä esitettävät muuttujat</strong>. <code>select</code>-tagi sisältää siis useita <code>option</code>-tageja, jotka ovat käyttäjälle esitettäviä vaihtoehtoja. <code>option</code>-tageissa <code>value</code>-attribuutissa määritellään arvo, joka lähetetään lomakkeen mukana, tagin sisällä taas määritellään teksti, joka näytetään käyttäjälle. Kuten tekstikenttien kanssa, pääset käyttäjän valitsemaan arvoon <code>select</code>-tagissa määritetyn <code>name</code>-attribuutin arvon perusteella seuraavasti:
</p>

<div hljs language="php" no-escape>$params = $_POST;
// Otetaan talteen käyttäjän valitseman kategorian id
$category = $params['category'];


$attributes = array(
  'name' => $params['name'],
  'description' => $params['description'],
  'publisher' => $params['publisher'],
  'category' => $category,
  'published' => $params['published']
);
// ...</div>

<p>
  Jos pelien ja kategorioiden välillä on monesta-moneen-suhde on hyödyllistä asettaa <code>select</code>-tagiin attribuutti <code>multiple</code>, joka antaa käyttäjälle mahdollisuuden valita monta vaihtoehtoa:
</p>

<div class="row">
  <div class="col-md-6">
<div hljs language="xml"><div class="form-group">
  <label>Kategoria</label>
  <select class="form-control" name="categories[]" multiple>
    {% for category in categories %}
      <option value="{{category.id}}">{{category.name}}</option>
    {% endfor %}
  </select>
</div></div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Kategoria</label>
      <select class="form-control" name="categories[]" multiple>
        <option value="1">Toiminta</option>
        <option value="2">Tasohyppely</option>
        <option value="3">Urheilu</option>
      </select>
    </div>
  </div>
</div>

<p>
  Nyt käyttäjä voi valita monta kategoriaa painamalla <kbd>ctrl</kbd>-painiketta pohjassa ja valitsemalla haluamansa kategoriat (ei ehkä paras käyttöliittymä, mutta käyttökelpoinen). Huomasit ehkä, että <code>select</code>-tagi muuttui <code>multiple</code>-attribuutin lisäämisen lisäksi hieman. Nimittäin <code>name</code>-attribuutin arvoksi vaihtui <code>categories[]</code>. Huomaa, että <code>[]</code>-merkit ovat tärkeitä, koska silloin PHP tietää käsitellä käyttäjän syötettä taulukkona. Tässä esimerkki syötteen vastaanottamisesta:
</p>

<div hljs language="php" no-escape>$params = $_POST;
// Otetaan talteen käyttäjän valitsemat kategoriat. Huomaa, että avaimessa ei ole "[]"-merkkejä!
$categories = $params['categories']

$attributes = array(
  'name' => $params['name'],
  'description' => $params['description'],
  'publisher' => $params['publisher'],
  'published' => $params['published'],
  'categories' => array()
);

foreach($categories as $category){
  // Lisätään kaikkien kategorioiden id:t taulukkoon
  $attributes['categories'][] = $category
}
// ...</div>

<p>
  Nyt <code>$attributes['categories']</code> sisältää kaikkien käyttäjän valitsemien kategorioiden id:t, joita voin käyttää pelin lisäämisessä <code>Game</code>-luokan <code>save</code>-metodissa.
</p>

<p>
  Lopuksi tutustutaan vielä yksinkertaiseen, mutta erittäin kätevään "piilotettuun kenttään" (hidden input). Sen avulla voimme lisätä lomakkeeseen kenttiä, joiden arvon voimme määritellä, mutta käytäjä ei näe niitä. Kuulostaa hölmöltä, mutta ne ovat hyödyllisiä, jos haluamme välittää lomakkeen kautta dataa, jota käyttäjän ei kuulu asettaa. Otetaan käytännön esimerkki toiminnosta, jossa käyttäjä voi kommentoida toisen käyttäjän peliä. Törmään ongelmaan, etten tiedä kommentointilomakkeeseessa, mihin peliin kommentti kohdistuu. Voin toteuttaa lomakkeen helposti lisäämällä kohdepelin id:n piilotettuun kenttään:
</p>

<div class="row">
  <div class="col-md-6">
<div hljs language="xml"><div class="form-group">
  <label>Kommentti</label>
  <textarea class="form-control" name="comment"></textarea>
  <input type="hidden" name="game_id" value="{{game.id}}">
  <button type="submit" class="btn btn-primary">Lähetä</button>
</div></div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Kommentti</label>
      <textarea class="form-control" name="comment"></textarea>
      <input type="hidden" name="game_id" value="{{game.id}}">
    </div>
    <button type="submit" class="btn btn-primary">Lähetä</button>
  </div>
</div>

<p>
  Määrittelin siis lomakkeeseen <code>input</code>-tagin, jonka <code>type</code>-attribuutin arvo on <code>hidden</code>. Kuten näet, kenttä ei näy lomakkeessa, mutta saan silti sen arvon, kun vastaanotan lomakkeen:
</p>

<div hljs language="php" no-escape>$params = $_POST;
// Otetaan talteen kohdepelin id
$game_id = $params['game_id'];
// ...</div>

<p>
  Muita hyödyllisiä lomakkeen elementtejä ovat mm. <a href="http://www.w3schools.com/html/tryit.asp?filename=tryhtml_form_radio" target="_blank">radio</a>- ja <a href="http://www.w3schools.com/html/tryit.asp?filename=tryhtml_checkbox" target="_blank">checkbox</a>-elementit.
</p>

<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Kaikki lomakkeen elementit täytyy lisätä <code>form</code>-tagin sisään, muuten niiden arvoja ei lähetetä lomakkeen lähettämisen yhteydessä.
  </div>
</p>

<h3>2.2 Tiedon haku useammasta taulusta: liitoskyselyt</h3>
<p>
  Olet varmasti viimeistään tässä vaiheessa törmännyt ongelmaan, jossa tietokantaan talletettua tietoa pitäisi hakea yhdellä kyselyllä kahdesta taulusta. Jos esimerkiksi haluan suorittaa tietokannassani kyselyn joka hakee kaikki pelit ja liittää lisäksi jokaiseen sen kategorian, jos sellaista löytyy, minun täytyy hakea kaikki rivit taulusta <code>Game</code>, mutta lisäksi rivit, joihin löytyy viiteavaimet, taulusta <code>Genre</code>. Ongelman ratkaisu on <strong>liitoskyselyt</strong>.
</p>
<p>
  SQL:ssä on neljä tärkeää liitoskyselyä, joissa taulujen rivejä yhdistetään eri tavoilla <code>ON</code>-avainsanan jälkeen annettujen ehtojen perusteella:
  <ul>
    <li>
      <p>
        <code>INNER JOIN</code> palauttaa kaikki rivit, joissa annettu ehto täyttyy molemmissa tauluissa. Esimerkiksi haetaan kaikki pelit ja niiden genret, <strong>joilla on genre</strong>:
      </p>
<div hljs language="sql" no-escape>SELECT Game.name, Game.published, Game.publisher, Game.description, Game.played, Game.added, Genre.name AS genre_name
FROM Game
INNER JOIN Genre
ON Game.id = Genre.game_id;</div>
    </li>
    <li>
      <p>
        <code>LEFT JOIN</code> palauttaa kaikki rivit "vasemmasta" taulusta (<code>SELECT</code>-lauseessa määritellystä taulusta) ja ehdot täyttävät rivit "oikeasta" taulusta (<code>LEFT JOIN</code>-lauseessa määritellystä taulusta). Esimerkiksi haetaan kaikki pelit ja niiden genret, <strong>vaikka niillä ei ole genreä</strong> (huomaa ero edelliseen):
      </p>
<div hljs language="sql" no-escape>SELECT Game.name, Game.published, Game.publisher, Game.description, Game.played, Game.added, Genre.name AS genre_name
FROM Game
LEFT JOIN Genre
ON Game.id = Genre.game_id;</div>
    </li>
    <li>
      <p>
        <code>RIGHT JOIN</code> palauttaa kaikki rivit "oikeasta" taulusta (<code>RIGHT JOIN</code>-lauseessa määritellystä taulusta) ja ehdot täyttävät rivit "vasemmasta" taulusta (<code>SELECT</code>-lauseessa määritellystä taulusta). Esimerkiksi haetaan kaikki genret ja niiden pelit, <strong>vaikka niihin ei liittyisi peliä</strong>:
      </p>
<div hljs language="sql" no-escape>SELECT Game.name, Game.published, Game.publisher, Game.description, Game.played, Game.added, Genre.name AS genre_name
FROM Genre
RIGHT JOIN Game
ON Genre.game_id = Game.id;</div>
    </li>
    <li>
      <p>
        <code>FULL JOIN</code> palauttaa kaikki rivit, joissa ehto täyttyy jommassakummassa taulussa. Esimerkiksi haetaan <strong>kaikki pelit, kaikki genret, kaikki pelit, joilla on genre ja kaikki genret, joilla on peli</strong> (kuulostipa sekavalta):
      </p>
<div hljs language="sql" no-escape>SELECT Game.name, Game.published, Game.publisher, Game.description, Game.played, Game.added, Genre.name AS genre_name
FROM Game
FULL JOIN Genre
ON Game.id = Genre.game_id;</div>
    </li>
  </ul>
</p>
<p>
  Huomaa, että kaikissa kyselyissä esiintyy <code>name</code>-sarake sekä taulussa <code>Game</code>, että taulussa <code>Genre</code>. Sen vuoksi <code>Genre</code>-taulun <code>name</code>-sarakkeelle täytyy määrittää <a href="http://www.w3schools.com/sql/sql_alias.asp" target="_blank">aliasnimi</a> <code>genre_name</code> käyttämällä <code>AS</code>-lausetta.
</p>
<p>
  Lisää liitoskyselyistä voit lukea vaikkapa <a href="http://www.tutorialspoint.com/sql/sql-using-joins.htm" target="_blank">TutorialsPointista</a>. Tässä vielä havainnollistava kuva matemaatikoille:
</p>
<img src="assets/images/sql_relations.png">
<h3>2.3 CRUD-nelikon toteuttamisen muistilista</h3>

<h4>Malliluokan toteuttaminen</h4>
<p>
  Aloita toteuttamalla malliluokka kansioon <code>app/models</code>. Muista periä luokassasi <code>BaseModel</code>-luokka. Lisää malliluokkaasi metodit tietokohteen listaamiselle (<code>all</code>), haulle (<code>find</code>), lisäämiselle (<code>save</code>), muokkaamiselle (<code>update</code>) ja poistamiselle (<code>destroy</code>). Muistathan, että tietokantayhteyden sai muodostettua kutsumalla <code>DB</code>-luokan <code>connection</code>-metodia:
</p>

<div hljs language="php" no-escape>$query = DB::connection()->prepare('SELECT * FROM Game WHERE id = :id');
$query->execute();

$rows = $query->fetchAll();</div>

<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Muistathan, että hyvä tapa debugata malliluokan metodeja, on tulostaa niiden palautusarvot kutsumalla <code>Kint::dump($palautus)</code>. Yleensä on myös hyödyllistä tietää, mitä kautta malliluokan metodia on kutsuttu. Se selviää kutsumalla <code>Kint::trace()</code>, kohdassa, jota haluat jäljittää.
  </div>
</p>

<p>
  Lisää myös mallisii attribuuttien validaattorit. Se onnistui lisäämällä malliluokan konstruktorissa <code>$validators</code>-attribuuttiin taulukon kutsuttavien validointimetodien nimiä:
</p>

<div hljs language="php" no-escape>// ...
public function __construct($attributes){
  parent::construct($attributes);

  $this->validators = array('validate_name', 'validate_publisher', 'validate_published', 'validate_description');
}
// ...</div>

<p>
  Itse validointimetodi validoi jonkun mallin attribuutin palauttamalla taulukon attribuuttiin kohdistuneista virheistä (esimerkiksi liian lyhyt, tai epäkelvollinen kokonaisluku). Tässä on esimerkki metodista, joka validoi attribuutin <code>$name</code>:
</p>

<div hljs language="php" no-escape>public function validate_name(){
  $errors = array();

  if($this->name == ''){
    $errors[] = 'Nimi ei saa olla tyhjä!';
  }else if(count($this->name) < 3){
    $errors[] = 'Nimen pituuden tulee olla vähintään kolme merkkiä!';
  }

  return $errors;
}</div>

<h4>Kontrolleriluokan toteuttaminen</h4>

<p>
  Toteuta seuraavaksi malliluokkaasi käyttämä kontrolleriluokka kansioon <code>app/controllers</code>. Muista periä luokassasi <code>BaseController</code>-luokka. Lisää kontrolleriluokkaasi metodit näkymien näyttämiselle ja käyttäjän pyyntöjen käsittelyyn:
</p>

<div hljs language="php" no-escape copy-paste-warning>class GameController extends BaseController{

  public static function index(){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();
    $games = Game::all(array('player_id' => $user_logged_in->id));

    View::make('game/index.html', array('games' => $games));
  }

  public static function show($id){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();
    $game = Game::find($id);

    // Katsotaan, onko kirjautunut käyttäjä pelin pelaaja
    if($game->is_played_by($user_logged_in)){
      View::make('game/show.html', array('game' => $game));
    }else{
      Redirect::to('/game', array('error' => 'Peli ei kuulu kirjastoosi!'));
    }
  }

  public static function create(){
    self::check_logged_in();

    View::make('game/create.html');
  }

  public static function store(){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();

    $params = $_POST;

    $attributes = array(
      'name' => $params['name'],
      'description' => $params['description'],
      'publisher' => $params['publisher'],
      'published' => $params['published'],
      'player_id' => $user_logged_in->id
    );

    $game = new Game($attributes);
    $errors = $game->errors();

    if(count($errors) == 0){
      $game->save();

      Redirect::to('/game/' . $game->id, array('message' => 'Peli on lisätty kirjastoosi!'));
    }else{
      View::make('game/new.html', array('errors' => $errors, 'attributes' => $attributes));
    }
  }

  public static function edit($id){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();
    $game = Game::find($id);

    if($game->is_played_by($user_logged_in)){
      View::make('game/edit.html', array('attributes' => $game));
    }else{
      Redirect::to('/game', array('error' => 'Peli ei kuulu kirjastoosi!'));
    }
  }

  public static function update($id){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();
    $params = $_POST;

    $attributes = array(
      'id' => $id,
      'name' => $params['name'],
      'played' => $params['played']
      'publisher' => $params['publisher'],
      'published' => $params['published'],
      'description' => $params['description']
    );

    $game = new Game($attributes);
    $errors = $game->errors();

    if(!$game->is_played_by($user_logged_in){
      Redirect::to('/game', array('error' => 'Peli ei kuulu kirjastoosi!'));
    }
    if(count($errors) == 0){
      $game->update();

      Redirect::to('/game/' . $game->id, array('message' => 'Peliä on muokattu onnistuneesti!'));
    }else{
      View::make('/game/edit.html', array('errors' => $errors, 'attributes' => $attributes));
    }
  }

  public static function destroy($id){
    self::check_logged_in();

    $user_logged_in = self::get_user_logged_in();
    $game = new Game(array('id' => $id));

    if($game->is_played_by($user_logged_in){
      $game->destroy();

      Redirect::to('/game', array('message' => 'Peli on poistettu kirjastostasi!'));
    }else{
      Redirect::to('/game', array('error' => 'Peli ei kuulu kirjastoosi!'));
    }
  }

}</div>

<h4>Reittien lisääminen</h4>

<p>
  Lisää kontrollereillesi reitit <code>config</code>-kansiossa sijaitsevaan <code>routes.php</code>-tiedostoon:
</p>

<div hljs language="php" no-escape>//...
$routes->get('/game', function(){
  GameController::index();
});

$routes->get('/game/new', function(){
  GameController::create();
});

$routes->get('/game/:id', function($id){
  GameController::show($id);
});

$routes->post('/game', function(){
  GameController::store();
});

$routes->get('/game/:id/edit', function($id){
  GameController::edit($id);
});

$routes->post('/game/:id/edit', function($id){
  GameController::update($id);
});

$routes->post('/game/:id/destroy', function($id){
  GameController::destroy($id);
});</div>

<h4>Näkymien toteuttaminen</h4>

<p>
  Toteuta lopuksi tarvitsemasi näkymät. Lisää näkymätiedostot <code>app/views</code>-kansioon oman tietokohteesi nimiseen kansioon, kuten minä sijoitin pelien näkymät kansioon <code>game</code>. Muista näkymiäsi toteuttaessa seuraavat asiat:
  <ul>
    <li>Käytä näkymien pohjana <code>base.html</code>-tiedostoa lisäämällä näkymien alkuun <code>{% extends "base.html" %}</code> ja sijoittamalla näkymän sisällön <code>{% block content %}</code>- ja <code>{% endblock %}</code>-rivien väliin.</li>
    <li>Lisää näkymien sisällä määrittämiesi polkujen, kuten linkkien ja lomakkeiden polkujen eteen <code>{{base_path}}</code>, jotta polut eivät osoita <code>htdocs</code>-kansion vaan oman projektikansiosi juureen.</li>
  </ul>
</p>

<h4>Debuggaaminen</h4>
<ul>
  <li>Kokeile aina tietokantakyselyitä <code>psql</code>-komentotulkissa ennen kuin käytät niitä malleissa. Pääset käyttämään komentotulkkia ottamalla ensin SSH-yhteuden users-palvelimeen ja suorittamalla sen jälkeen komennon <code>psql</code>. Kun olet valmis, komentotulkin pystyy sulkemaan syöttällä siihen <code>\q</code> ja painamalla <kbd>enter</kbd>-painiketta.</li>
  <li>
    Kun tietokantakysely on kunnossa, mutta ongelma ei silti ratkea, siirry kontrollerin debuggaamiseen. Jos käytät tietokantakyselyissä käyttäjän syötteitä, kannattaa tarkistaa, että niiden sisältö on kunnossa. Se onnistuu tulostamalla debuggausviestin käyttäjän syötteistä kutsumalla <code>Kint</code>-luokan <code>dump</code>-metodia.
  </li>
</ul>

<hr>
<a id="3-dokumentaation-viimeistely"></a>
<h2>3. Dokumentaation viimeistely</h2>

<p>
  Palataan hetkeksi dokumentaatioimme pariin. Jos sovelluksesi laajentaminen vaatii muutoksia dokumentaatioon, tee ne seuraavaksi. Sen jälkeen lisää dokumentaatiosi <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#j%C3%A4rjestelm%C3%A4n-yleisrakenne">järjestelmän yleisrakenne</a>-osio sekä <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#kayttoliittymakomponentit">käyttöliittymän ja järjestelmän komponentteja</a> kuvaava kaavio.
</p>
<hr>
<a id="4-pienta-hienosaatoa"></a>
<h2>4. Pientä hienosäätöä</h2>

<div class="alert alert-warning">
  <h4>Muistathan?</h4>
  Tämä osio sisältää muutaman vapaaehtoisen toiminnon sovellukseesi, joita voit toteuttaa mielesi mukaan. <strong>Mitään toimintoa ei siis tarvitse toteuttaa, ellet halua, eikä se vaikuta arvosanaasi!</strong>
</div>

<h3>4.1 Poistamisen vahvistaminen</h3>
<p>
  Ei ole mukavaa, jos käyttäjä painaa vahingossa poistopainiketta ja kohde poistetaan tietokannasta. Kirjoitan pienen <a href="http://www.w3schools.com/js/">JavaScript</a>-skriptin, joka pyytää käyttäjältä vahvistusta pelin poistamiselle. Käytän myös hyvin suosittua JavaScript-kirjastoa, <a href="http://jquery.com/">jQuery</a>:a. Lisään skriptini <code>assets/js</code>-kansiossa sijaitsevaan <code>site.js</code>-tiedostoon:
</p>
<div hljs language="javascript" no-escape>// Kun sivu on latautunut kutsutaan ready-funktion parametrina annettua funktiota
$(document).ready(function(){
  // Valitaan kaikki form-elementit, joihin liittyy destroy-form-luokka ja lisätään niihin kuuntelija, joka kutsuu parametrina annettua funktiota, kun lomake lähetetään
  $('form.destroy-form').on('submit', function(submit){
    // Otetaan kohdelomakkeesta data-confirm-attribuutin arvo
    var confirm_message = $(this).attr('data-confirm');
    // Pyydetään käyttäjältä vahvistusta
    if(!confirm(confirm_message)){
      // Jos käyttäjä ei anna vahvistusta, ei lähetetä lomaketta
      submit.preventDefault();
    }
  });
});
</div>
<p>
  Lisään vielä luokan <code>destroy-form</code> ja <code>data-confirm</code> attribuutin pelin poistolomakkeeseen:
</p>
<div hljs language="xml"><form method="post" action="{{base_path}}/game/{{game.id}}/destroy" class="destroy-form" data-confirm="Oletko varma, että haluat poistaa pelin?">
  <button type="submit" class="btn btn-danger">Poista</button>
</form></div>
<p>
  Se on siinä! jQuery on asennettuna valmiiksi projektissasi, jos haluat toteuttaa saman toiminnon sovellukseesi.
</p>
<h3>4.2 Hakutoiminto</h3>

<p>
  Listaussivut tulevat nopeasti todella pitkiksi, kun tietokantaan kertyy rivejä. Omaan pelikirjastooni on kertynyt jo niin paljon pelejä, että tarvitsen siihen hakutoiminnon. Aloitan sen toteuttamisen tekemällä muutoksia <code>Game</code>-mallini <code>all</code>-metodiin:
</p>

<div hljs language="php" no-escape>class Game{
  // ...
  public static function all($options){
    $query_string = 'SELECT * FROM Game WHERE player_id = :player_id';
    $options = array('player_id' => $options['player_id']);

    if(isset($options['search'])){
      $query_string .= ' AND name LIKE :like';
      $options['like'] = '%' . $options['search'] . '%';
    }

    $query = DB::connection()->prepare($query_string);
    $query->execute($options);

    $rows = $query->fetchAll();
    $games = array();

    foreach($rows as $row){
      $games[] = new Game($row);
    }

    return $games;
  }
}</div>

<p>
  Lisäsin <code>all</code> metodille <code>$options</code>-parametrin, jossa määritän kirjautuneen käyttäjän id:n <code>player_id</code>- ja vapaaehtoisen hakusanan <code>search</code>-avaimen arvolla. Tietokantakyselyssä käytän <strong><a href="http://www.w3schools.com/sql/sql_like.asp" target="_blank">LIKE</a>-operaattoria</strong>, jonka avulla saan tietokannastani pelit, joiden nimi vastaa annettua hakusanaa. Seuraavaksi minun täytyy tehdä pari pientä muutosta <code>GameController</code>-luokkaan:
</p>

<div hljs language="php" no-escape>class GameController{
  public static function index(){
    self::check_login();

    $user_logged_in = self::get_user_logged_in();
    $params = $_GET;
    $options = array('player_id' => $user_logged_in->id);

    if(isset($params['search'])){
      $options['search'] = $params['search'];
    }

    $games = Game::all($options);

    View::make('game/index.html', array('games' => $games));
  }
}</div>

<p>
  Kuten <code>$_POST</code>-muuttuja sisältää POST-pyynnön muuttujat, <code>$_GET</code>-muuttuja sisältää GET-pyynnön muuttujat. Käytin toteutuksessani GET-pyyntöä, koska GET-pyynnön muuttujat näkyvät kyselyn polussa, jolloin siihen voi luoda linkin. Jos haen peliä hakusanalla "Skyrim", on pyynnön polku <code>/game?search=Skyrim</code>. <code>search</code>-muuttujan arvo siis näkyy kyselyn polussa, toisin kuin POST-pyynnön kanssa. Lisään vielä hakulomakkeen pelien listaussivulle:
</p>

<div hljs language="xml">{% extends "base.html" %}

{% block content %}
  <h1>Käyttäjän Henri pelikirjasto</h1>

  <p>
    <a href="{{base_path}}/game/new" class="btn btn-success">Lisää peli</a>
  </p>

  <form method="get" action="" class="form-inline">
    <div class="form group">
      <input type="text" name="search" class="form-control" placeholder="Hakusana">
    </div>

    <button type="submit" class="btn btn-default">Hae</button>
  </form>
  <!-- ... -->
{% endblock %}</div>

<p>
  Huomaat, että lomake eroaa tavanomaisesta lomakkeestamme sillä, että <code>method</code>-attribuutin arvo on <code>get</code> ja <code>action</code>-attribuutin arvo on tyhjä. Tällöin lomake lähetetään oletusarvoisesti nykyiseen polkuun.
</p>

<h3>4.3 Listaussivun sivuttaminen</h3>

<p>
  Kuten jo mainitsin pelikirjastoni tulvii peleistä, eikä pelkkä hakutoiminto auta hillitsemään pitkiä listaussivuja. Olet luultavasti nähdyt muilla sivuilla listojen sivuttamista, jossa listat jaetaan kiinteän kokoisiin sivuihin, joita käyttäjä voi seleta käyttäen esimerkiksi tämän kaltaista valikkoa:

  <nav>
    <ul class="pagination">
      <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    </ul>
  </nav>
</p>

<p>
  Haluan lisätä toiminnon pelien listaussivulle. Aloitan sen toteuttamisen <code>Game</code>-mallin <code>all</code>-metodista:
</p>

<div hljs language="php" no-escape>class Game{
  // ...
  public static function all($options){
    $user_id = $options['player_id'];

    if(isset($options['page'] && isset($options['page_size'])){
      $page_size = $options['page_size'];
      $page = $options['page'];
    }else{
      $page_size = 10;
      $page = 1;
    }

    $query = DB::connection()->prepare('SELECT * FROM Game LIMIT :limit, OFFSET :offset');
    $query->execute(array('limit' => $page_size, 'offset' => $page_size * ($page - 1)));

    $rows = $query->fetchAll();
    $games = array();

    foreach($rows as $row){
      $games[] = new Game($row);
    }

    return $games;
  }
}</div>

<p>
  Katson siis <code>$options</code>-parametrista, mikä on haluttu sivu (<code>page</code>-avaimen arvo) ja mikä on sen koko (<code>page_size</code>-avaimen arvo) ja valitsen oikeat rivit käyttämällä <code>LIMIT</code>- ja <code>OFFSET</code>-kometoja. Jotta tietäisin, kuinka monta peliä tietokannassa on, toteutan vielä <code>count</code>-metodin, joka palauttaa <code>Game</code>-taulun rivien lukumäärän. Kun tiedän tietokantaan talletettujen pelin lukumäärän saan sivujen lukumäärän seuraavasti:
</p>

<div hljs language="php" no-escape>$games_count = Game::count();
$page_size = 10;
$pages = ceil($games_count/$page_size);</div>

<p>
  Näkymässäni sivuvalikko näyttää tältä:
</p>

<div hljs language="xml"><!-- ... -->
<nav>
  <ul class="pagination">
    <li class="{% if not prev_page %}disabled{% endif %}"><a href="{{base_path}}/game?page={{prev_page}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    {% for page in 1..pages %}
      <li class="{% if curr_page == page %}active{% endif %}"><a href="{{base_path}}/game?page={{page}}">{{page}}</a></li>
    {% endfor %}
    <li class="{% if not next_page %}disabled{% endif %}"><a href="{{base_path}}/game?page={{next_page}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
  </ul>
</nav></div>

<hr>

<a id="5-lisenssin-valinta"></a>
<h2>5. Lisenssin valinta</h2>

<p>
  Sovelluksemme alkaa olla loppusuoralla ja on aika valita toteuttamallemme sovellukselle <strong>lisenssi</strong>, joka kertoo, mitkä ovat muiden ihmisten oikeudet sovelluksemme suhteen. Lisessin valinta on erittäin helppoa, valitse esimerkiksi <a href="https://choosealicense.com/licenses/" target="_blank">täältä</a>. Kun olet valinnut lisenssin, kopioi repoosi <code>LICENSE</code>-tiedostoon valitsemasi lisenssin lisenssiteksti. Päivitä lisenssitekstiin tekijän kohdalle oma nimesi ja vuodeksi tämä vuosi.
</p>

<p>
  <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons -lisenssi" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Tämä teos on lisensoitu <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Nimeä 4.0 Kansainvälinen -lisenssillä</a>.
</p>

<p>
  <strong>Lisenssin valitseminen ei ole pakollista, mutta erittäin suotavaa.</strong>
</p>

<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Kaikissa Tsoha Bootstrapin käyttämissä kirjastoissa on käytössä <a href="http://choosealicense.com/licenses/mit/" target="_blank">MIT-lisenssi</a>, joten kaupallisen lisenssin valitseminen omalla sovellukselle on myös mahdollista.
  </div>
</p>

<hr>
<a id="6-palautuksen-vaatimukset"></a>
<h2>6. Palautuksen vaatimukset</h2>
<ol>
  <li>Toteuta käyttäjän uloskirjautuminen ja estä kirjautumattoman käyttäjän pääsy sivuille, jotka vaativat kirjautumisen. <strong>(1p)</strong></li>
  <li>Edistä sovellustasi ja pidä koodi siistinä noudattamalla selkeää kansiorakennetta ja järkevää nimeämistä tiedostojen, luokkien ja metodien nimissä. Vaatimuksena on, että ainakin kahdelle tietokohteelle on toteutettu sivuja. <strong>Kaikkia CRUD-nelikon osia ei kuitenkaan tarvitse toteuttaa, listaus- ja esittelysivut uudelle tietokohteelle riittävät hyvin</strong>. Lisäksi kaikkien toimintojen tulee toimia ja virhetilanteissa käyttäjälle täytyy antaa järkeviä virheilmoituksia. <strong>(1p)</strong></li>
  <li>Lisää dokumentaatioosi <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#j%C3%A4rjestelm%C3%A4n-yleisrakenne" target="_blank">järjestelmän-yleisrakenne</a>-osio ja <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#kayttoliittymakomponentit" target="_blank">käyttöliittymän ja järjestelmän komponentteja kuvaa kaavio</a>. <strong>(1p)</strong></li>
  <li>Kirjoita <a href="http://advancedkittenry.github.io/aikataulu/koodikatselmointi.html" target="_blank">koodikatselmointi</a> (vapaaehtoinen). <strong>(0-2p)</strong></li>
  <li>
    <strong>Pushaa kaikki tekämäsi muutokset repoosi!</strong>
  </li>
</ol>
<a href="#lopullinen-palautus" class="btn btn-default pull-right">Lopullinen palautus <span class="glyphicon glyphicon-chevron-right"></span></a>
