<div class="page-header">
  <h1>Viikko 2</h1>
</div>
<h2>Sisällysluettelo</h2>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" ng-click="goto_anchor('1-tyokalut')">1. Työkalut</a></li>
  <li><a href="" ng-click="goto_anchor('2-kontrollerit-ja-reitit')">2. Kontrollerit ja reitit</a></li>
  <li><a href="" ng-click="goto_anchor('3-nakymat')">3. Näkymät</a></li>
  <li><a href="" ng-click="goto_anchor('4-tietokantayhteyden-muodostaminen-ja-tietokantataulut')">4. Tietokantayhteyden muodostaminen ja tietokantataulut</a></li>
  <li><a href="" ng-click="goto_anchor('5-palautuksen-vaatimukset')">5. Palautuksen vaatimukset</a></li>
</ul>

<hr>
<a id="1-tyokalut"></a>
<h2>1. Työkalut</h2>
<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Tässä vaiheessa SSH-avain pitää olla luotu. Jos et ole vielä luonut avainta, lue viime viikon ohje. Jos törmäät ongelmaan, että SSH-yhteys pyytää salasanaa, johtuu se siitä, että avaimesi on suojattu salasanalla. Ongelma ratkee suorittamalla terminaalissa <code>ssh-add</code>.
  </div>
</p>
<h3>1.1 NetBeans</h3>

<p>
  Jos haluat käyttää sovelluksesi toteutuksessa NetBean:sia, luo uusi projekti kohdasta File > New Project ja valitse kategoriasta "PHP" projekti "PHP Application with Existing Sources". Valitse kohdekansioksi Tsoha Bootstrapin kansio ja paina "Finnish".
</p>

<p>
  <img src="assets/images/netbeans-run-conf.jpg" style="width: 500px; height: auto; margin: 0px 15px 15px 0px" class="pull-left">
  Jotta saamme tiedostot siirrettyä palvelimelle vaivattomasti, seuraavaksi meidän pitää ajaa <code>deploy.sh</code>-tiedosto aina, kun painat "Run". Se onnistuu painamalla oikeaa hiirenpainiketta projektin päällä, valitsemlla "Properties" ja siirtymällä "Project Properties"-ikkunasta kohtaan "Run configuration". Luodaan uusi konfiguraatio klikkaamalla "Configuration"-valikosta "New..." ja antamalla nimeksi vaikkapa tsoha. Valitse seuraavaksi "Run as"-valikosta "Script (run in command line)", poista valinta "Use Default PHP Interpreter" ja lisää "PHP Interpreter"-kenttään polku <code>/bin/bash</code>. Lisää vielä "Index File"-kenttään tiedosto <code>deploy.sh</code> ja paina "Ok".
</p>

<p>
  Vaihdetaan Run-konfiguraatioksi luomamme konfiguraatio valitsemalla Run > Set Project Configuration > tsoha (tai miksi konfiguraation nimesit). Nyt projektisi tiedostot siirtyvät palvelimelle jokaisen "Run"-napin painalluksen yhteydessä.
</p>

<div style="clear: both"></div>

<h3>1.2 Sublime Text</h3>

<p>
  <strong><a href="http://www.sublimetext.com/" target="_blank">Sublime Text</a></strong> on kevyt ja kätevä editori, jota voi myös käyttää oman sovelluksen toteuttamisessa. Voit asentaa sen helposti <a href="http://www.sublimetext.com/" target="_blank">täältä</a>.
</p>

<p>
  Haluamme tavan siirtää muokkaamaamme tiedostot nopeasti ja vaivattomasti palvelimelle, tämä onnistuu luomalla <strong>build systemin</strong>, joka ajaa yksinkertaisen <code>rsync</code>-komennon, <code>deploy.sh</code>-tiedostossa. Käynnistetään asentamamme Sublime Text ja luodaan uusi build system. Tämä tapahtuu valitsemalle Tools > Builb System > New Build System. Aukeaa tiedosto, lisätään siihen seuraava sisältö:
</p>

<div hljs language="json" no-escape>{
  "cmd": ["bash", "POLKU_PROJEKTIISI/deploy.sh"],
  "selector" : "source.shell"
}</div>

<p>
  <img src="assets/images/sublime-build.png" style="margin-right: 15px; margin-bottom: 15px" class="pull-left">
  Korvaa kohta <code>POLKU_RPOJEKTIISI</code> projektikansiosi sijainnilla ja tallennetaan tiedosto nimellä <code>tsoha.sublime-build</code>. Valitaan vielä Tools > Build System ja valitaan luomamme tsoha build system käytettäväksi build systemiksi. Nyt aina kun buildaamme projektimme, tiedostot siirtyvät automaattisesti palvelimelle. Kätevää!
</p>

<div style="clear: both"></div>

<p>
  Kokeile buildata projektisi, se onnistuu valitsemalla Tools > Build, tai nopeammin näppäinyhdistelmällä <kbd>ctrl+b</kbd>. Editorin alalaitaan pitäisi tulla tätä muistuttava teksti:
</p>

<pre><code class="bash">Siirretään tiedostoja users-palvelimelle...
Valmis!
Suoritetaan komentoa php composer.phar dump-autoload...
Generating autoload files
Valmis! Sovelluksesi on nyt valmiina osoitteessa kalleilv.users.cs.helsinki.fi/tsoha
</code></pre>

<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Jos muokkaat projektikansiosi sijaintia, muista päivittää <code>tsoha.sublime-build</code> tiedosto. Pääset siihen käsiksi valitsemalla Preferences > Browse Packages ja valitsemalla <code>tsoha.sublime-build</code>-tiedoston kansiosta <code>Packages/User</code>.
  </div>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Kun työskentelet sovelluksesi parissa, kannattaa sinun avata koko projektikansiosi editoriin, jotta siirtyminen tiedostojen välillä olisi vaivattomampaa. Tämä onnistuu avaamalla Sublime Text ja valitsemalla File > Open folder.
  </div>
</p>

<h3>1.3 Mikä tahansa muu editori</h3>
<p>
  Voit halutessasi tietenkin käyttää mitä tahansa muuta editoria. Kun haluat siirtää sovelluksesi tiedostot palvelimelle, suorita vain terminaalissa projektisi juuressa komento <code>bash deploy.sh</code>.
</p>
<p>
  <div class="alert alert-danger">
    <h4>Tärkeää!</h4>
    <code>deploy.sh</code>-tiedoston suorittaminen suorittaa users-palvelimella projektisi juuressa komennon <code>php composer.phar dump-autoload</code> (tästä lisää viikolla 3). Jos siirrät projektisi tiedostot palvelimelle jollain toisella, kuin edellä mainituilla tavoilla, muista suorittaa kyseinen komento aina, kun lisäät <code>php</code>-tiedostoja sovellukseesi.
  </div>
</p>
<h3>1.4 Huomio Windowsin käyttäjät!</h3>
<p>
  Edellä esitetyt keinot tiedostojen siirtämiseksi palvelimelle eivät toimi Windowsilla, koska <code>deploy.sh</code>-tiedostoa ei (eikä muita <code>sh</code>-tiedostoja) voida suorittaa. Ongelman ratkaisu on pyörittää Ubuntua Windowsissa <strong><a href="https://www.virtualbox.org/" target="_blank">VirtualBoxin</a></strong> kautta (<a href="http://www.psychocats.net/ubuntu/virtualbox" target="_blank">täältä</a> löytyy hyvä asennusohje).
</p>
<hr>
<a id="2-kontrollerit-ja-reitit"></a>
<h2>2. Kontrollerit ja reitit</h2>

<p>
  Palautetaan mieliimme, mitä MVC-mallia noudattavassa sovelluksessa tapahtuu, kun selain tekee pyynnön palvelimelle. Palataan viime viikon esimerkkiin, jossa opiskelija menee selaimessa sivulle www.cs.helsinki.fi/courses:
</p>

<blockquote>
  <ol>
    <li>Opiskelijan kirjoitettua URL:n selaimen osoiteriville, selain tekee GET-pyynnön palvelimelle www.cs.helsinki.fi</li>
    <li>Palvelimella pyörivä web-palvelinohjelmisto ohjaa pyynnön itse sovellukseen, jonka reiteistä katsotaan, mille kontrollerille ja mille metodille resurssiin courses kohdistuvat GET-pyynnöt ohjataan</li>
    <li>Kun kontrolleri ja metodi löytyy, sitä kutsutaan ...</li>
  </ol>
</blockquote>

<h3>2.1 Kontrollerit</h3>

<p>
  Katsotaan, mitä sovelluksessamme tapahtuu, kun menet selaimella oman sovelluksesi etusivulle, joka on muotoa <a>KAYTTAJATUNNUS.users.cs.helsinki.fi/PROJEKTIN_KANSIO</a>. Aukeaa sivu, jossa on otsikko "Tervetuloa Tsoha Bootstrappiin!". Katsotaan, mitä kulissien takana tapahtuu.
</p>

<p>
  Avaa projektisi valitsemassari editorissa ja siirry siinä kansioon <code>app</code>, jossa näet MVC-mallin mukaisen kansiorakenteen. Avataan kansiosta <code>controllers</code> tiedosto <code>hello_world_controller.php</code>, joka toimii esimerkkinä kontrollerista. Se näyttää seuraavalta:
</p>

<div hljs language="php" no-escape>class HelloWorldController extends BaseController{

  public static function index(){
    // make-metodi renderöi app/views-kansiossa sijaitsevia tiedostoja
    View::make('home.html');
  }

  public static function sandbox(){
    // Testaa koodiasi täällä
    echo 'Hello World!';
  }
}</div>

<p>
  Näemme tiedostossa luokan <code>BaseController</code> perivän luokan <code>HelloWorldController</code>, jolla on <strong><a href="http://php.net/manual/en/language.oop5.static.php" target="_blank">staattiset</a></strong> metodit <code>index</code> ja <code>sandbox</code>. Korvataan rivi <code>View::make('home.html');</code>, rivillä <code>echo 'Tämä on etusivu!';</code>. Kun rivi on korvattu, tallennetaan ja siirretään sovelluksemme tiedostot palvelimelle (NetBeans:issä se tapahtuu painamalla "Run"-painiketta, Sublime Text:ssä valitsemlla Tools > Build, tai yksinkertaisesti suorittamalla terminaalissa projektisi juuressa komennon <code>bash deploy.sh</code>) ja siirrytään sen jälkeen sovelluksemme etusivulle selaimella. Huomaamme, että näytölle tulee teksti "Tämä on etusivu!".
</p>

<h3>2.2 Reitit</h3>

<p>
  Mutta miten sovelluksemme tietää, että etusivulla pitäisi kutsua luokan <code>HelloWorldController</code> metodia <code>index</code>? Kurkataanpa kansiossa <code>config</code> olevaa tiedostoa <code>routes.php</code>. Se näyttää seuraavalta:
</p>

<div hljs language="php" no-escape>$routes->get('/', function() {
  HelloWorldController::index();
});

$routes->get('/hiekkalaatikko', function() {
  HelloWorldController::sandbox();
});</div>

<p>
  Alatko jo keksiä, mistä on kyse? Siis kun tehdään GET-pyyntö polkuun <code>/</code>, kutsutaan <code>get</code>-metodin parametrina annettua nk. <a href="http://php.net/manual/en/functions.anonymous.php">anonyymia-funktioita</a>, jossa kutsumme luokan <code>HelloWorldController</code> staattista metodia <code>index</code>. Huomaa, että PHP:ssa luokan staattista metodia kutsutaan <code>::</code>-syntaksilla. Kokeileppa vielä, mitä tapahtuu, kun menet selaimellasi sovelluksesi polkuun <code>/hiekkalaatikko</code>.
</p>

<p>
  Vanhaan hyvään aikaan jokainen kontrolleri oli oma <code>php</code>-tiedostonsa, jolloin kyselyt kohdistuivat polun sijaan suoraan tiedostoon. Vanhassa tavassa on kuitenkin monta ongelmaa, muunmaessa se että, sovelluksen kansiorakenne on erittäin rajoitettu, polut eivät ole selkeitä (esim. <code>/kurssit.php?id=1</code> polun <code>/kurssit/1</code> sijaan) ja, että tiedostojen määrä kasvaa todella nopeasti. Olemme siis ajan hermolla ja käytämme sovelluksessamme reitityskirjastoa, jonka avulla voimme kätevästi ohjata pyynnön tiettyyn polkuun tietyn kontrollerin hoidettavaksi. Yksi tälläinen kirjasto on pieni, mutta kätevää <strong><a href="http://www.slimframework.com/">Slim</a></strong>-kirjasto, joka on alustettu projektiisi tiedostossa <code>index.php</code>. Slim:n käyttäminen sovelluksessa on melko yksinkertaista, tässä esimerkki sen kotisivuilta:
</p>

<div hljs language="php" no-escape>require "path/to/Slim.php";

$app = new \Slim\Slim();

$app->get('/hello/:name', function ($name) {
  echo "Hello, $name";
});

$app->run();
</div>

<p>
  Jos kurkkaat projektisi juuressa sijaitsevaa <code>index.php</code>-tiedostoa, huomaat, kuinka Slim:iä on käytetty sovelluksessasi. Reititys perustuu siihen, että web-palvelinohjelmisto ohjaa kaikki sovellukseemme kohdistuneet HTTP-pyynnöt <code>index.php</code>-tiedostoon, jossa Slim käsittelee pyynnöt ja ohjaa ne haluamillesi kontrollereille. Tämä määritetään users-palvelimella projektimme juuressa sijaitsevassa <code>.htaccess</code>-tiedostossa, jonka sisältö on seuraava:
</p>

<div hljs>RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]</div>

<p>
  Kerrataan vielä lyhyesti, miten GET-pyyntö sovelluksemme etusivulle (polkuun <code>/</code>) etenee sovelluksessamme:
</p>

<p>
  <img src="assets/images/kutsun-eteneminen.png">
</p>

<ol>
  <li>Käyttäjän kirjoitettua sovelluksemme osoitteen selaimen osoiteriville, selain tekee GET-pyynnön palvelimelle</li>
  <li>Web-palvelin ohjelmisto lukee <code>.htaccess</code>-tiedostosta, että kaikki pyynnöt ohjataan <code>index.php</code>-tiedostoon</li>
  <li><p>
        <code>index.php</code>-tiedostossa alustetaan Slim ja sisällytetään <code>routes.php</code>-tiedostossa sijaitsevat sovelluksemme reitit:
      </p>
      <div hljs no-escape>// ...
$routes = new \Slim\Slim();
// ...
// Otetaan reitit käyttöön
require 'config/routes.php';</div>
  </li>
  <li>
    <p><code>routes.php</code>-tiedostossa on määritelty seuraava reitti:</p>
<div hljs no-escape>$routes->get('/', function() {
  HelloWorldController::index();
});</div>
    <p>
      Slim löytää määrittelemistämme reiteistä pyyntöä vastaavan polun <code>/</code> ja kutsuu <code>HelloWorldController</code>-luokan metodia <code>index</code>, joka sijaitsee tiedostossa <code>hello_world_controller.php</code>.
    </p>
  </li>
</ol>

<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Kaatuiko sovelluksesi? Ei hätää! Pääset katsomaan PHP:n logeja, jotka sisältävät virheilmoitukset, suorittamalla terminaalissa projektisi juuressa komennon <code>bash php_logs.sh</code>. Luettuasi logit, voit sulkea ne näppäilemällä terminaaliin <kbd>ctrl+c</kbd>. Voit myös katsoa PHP:n logeja users-palvelimen puolella suorittamalla SSH-yhteyden muodostamisen jälkeen komennon <code>tail -f /home/userlogs/$USER.error</code>.
  </div>
</p>
<hr>
<a id="3-nakymat"></a>
<h2>3. Näkymät</h2>

<h3>3.1 HTML</h3>

<p>
  On hieman tylsää esittää käyttäjälle pelkästään sivuja, joilla tulostamme tekstiä. Siksi sivujen rakentamiseen käytetäänkin <strong><a href="http://fi.wikipedia.org/wiki/HTML">HTML</a></strong>-kuvauskieltä. Sivujen rakennepalikat ovat HTML:ssä <strong>tageja</strong>, jotka ovat esimerkiksi otsikoita, linkkejä, kuvia tai painikkeita. Tageihin liittyy usein myös <strong>attribuutteja</strong>, jotka tarkentavat tagin ominaisuuksia. Tässä muutama käytännön esimerkki:
</p>
<h1>Otsikko</h1>
<div hljs language="xml"><h1>Otsikko</h1></div>
<p>
  <a href="http://www.cs.helsinki.fi">Tässä on linkki Tietojenkäsittelytieteen laitoksen sivuille</a> (huomaa <code>href</code> attribuutti, joka kertoo, minne linkki vie)
</p>
<div hljs language="xml"><a href="www.cs.helsinki.fi">Tässä on linkki Tietojenkäsittelytieteen laitoksen sivuille</a></div>
<table class="table">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Pituus</th>
      <th>Ikä</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td>Kalle</td>
      <td>186</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Elina</td>
      <td>168</td>
      <td>24</td>
    </tr>
  </tbody>
</table>
<div hljs language="xml"><table>
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Pituus</th>
      <th>Ikä</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Kalle</td>
      <td>186</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Elina</td>
      <td>168</td>
      <td>24</td>
    </tr>
  </tbody>
</table></div>
<p>
  Lue HTML:stä vielä hieman lisää <a href="http://www.w3schools.com/html/">W3Schools</a>:ssa.
</p>
<h3>3.2 Kontrollerit ja näkymät</h3>
<p>
  Kun HTML on tullut hieman tutummaksi, luodaan <code>app/views</code>-kansioon tiedosto <code>helloworld.html</code> ja lisätään sinne h1-tagi, jonka sisällä lukee "Hello World!". Siirrytään sitten jo tarkastelemaamme <code>app/controllers/hello_world_controller.php</code>-tiedostoon ja muokataan metodi <code>sandbox</code> seuraavanlaiseksi:
</p>
<div hljs language="php" no-escape>public static function sandbox(){
  View::make('helloworld.html');
}</div>
<p>
  Metodissamme kutsumme luokan <code>View</code> staattista metodia <code>make</code>, joka renderöi kansiossa <code>app/views</code> sijaitsevan <code>html</code>-tiedostomme <code>helloworld.html</code>. <code>make</code>-metodin toteutus on melko yksinkertainen, se käyttää <strong>Twig</strong>-nimistä kirjastoa, johon tutustumme pian tarkemmin. Voit tutustua metodin toteutukseen tarkemmin <code>lib/view.php</code>-tiedostossa.
</p>
<p>
  Siirretään sovelluksemme tiedostot palvelimelle ja siirrytään sovelluksessamme polkuun <code>/hiekkalaatikko</code>. Kontrollerimme renderöi nyt juuri luomamme HTML-tiedoston, joka tosin näyttää vielä hieman rujolta.
</p>
<h3>3.3 Bootstrap ja kauniimmat näkymät</h3>
<p>
  <strong><a href="http://getbootstrap.com">Bootstrap</a></strong> on tällä hetkellä yksi suosituimmista web-sivujen rakentamiseen käytettyistä frameworkeista. Käytännössä tämä tarkoittaa sitä, että pystymme sen avulla toteuttamaan nättejä käyttöliittymiä nopeasti. Bootstrap löytyy jo valmiiksi asennettuna sovelluksestasi, joten pääset heti käyttämään sitä. Lisää seuraava esimerkki luomaasi <code>helloworld.html</code>-tiedostoon:
</p>
<div hljs language="xml">{% extends "base.html" %}

{% block content %}
  <h1>Painikkeet</h1>
  <button>Tavallinen painike</button>
  <button class="btn btn-default">Bootstrap painike</button>
  <button class="btn btn-primary">Bootstrap painike</button>
  <button class="btn btn-success">Bootstrap painike</button>
  <button class="btn btn-danger">Bootstrap painike</button>

  <h1>Tekstikentät</h1>
  <input type="text" placeholder="Tavallinen tekstikenttä">
  <input type="text" class="form-control" placeholder="Bootstrap tekstikenttä">

  <h1>Taulukot</h1>
  <table>
    <thead>
      <tr>
        <th>Tavallinen</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Bootstrap</th>
        <th>Taulukko</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
      <tr>
        <td>Tekstiä</td>
        <td>Tekstiä</td>
      </tr>
    </tbody>
  </table>
{% endblock %}</div>
<p>
  Buildataan ja siirrytään taas polkuun <code>/hiekkalaatikko</code>, niin näemme Bootstrapin aikaansaaman eron.
</p>
<p>
  Saamme siis pienillä muutoksilla paljon aikaan. Yleensä HTML-elementin tyylittely tapahtuu lisäämälle se yhteen tai useampaan luokkaan <code>class</code>-attribuutin avulla. Luokkiin on taas määritelty tyylejä, kuten taustaväri tai fontin koko, käyttämällä <a href="http://fi.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a>-tyyliohjeita.
</p>

<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Jos kauniiden käyttöliittymien toteuttaminen kiinnostaa, kannattaa tutustustua <a href="http://www.w3schools.com/css/" target="_blank">W3Schools</a>:in CSS-tutoriaaliin. Kansiossa <code>assets/css</code> on tiedosto <code>site.css</code>, johon voit toteuttaa tyylejäsi.
  </div>
</p>
<h3>3.4 Twig - joustava ja tehokas sivupohjamoottori</h3>

<p>
  Ihmettelit luultavasti, mitä edellisessä esimerkissä olevat rivit <code>{% extends "base.html" %}</code> ja <code>{% block content %}</code> tarkoittavat. Kyseessä on <strong><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></strong> nimisen sivupohjamoottorin syntaksi. Mitä Twig, kuten monet muutkin sivupohjamoottorit tekevät, on että ne tekevät sivupohjista selkeitä, helposti hallittavia ja uudelleen käytettäviä.
</p>

<p>
  Tutustutaan hieman edellä mainittuihin riveihin. Aloitetaan rivistä <code>{% extends "base.html" %}</code>. Jos katsomme kansiossa <code>app/views</code> sijaitsevaa tiedostoa <code>base.html</code>, huomaamme, että se esittää kokonaista HTML-sivua. Tiedosto onkin pohja kaikille muille sovelluksemme sivuille, joten kaikki, kuten edellisen edellisen esimerkin sivukin pohjautuu siihen. Ilman sivupohjaa, joutuisimme kopioimaan sisältöä tiedosta toiseen, mistä tulisi sovelluksen kasvaessa mahdotonta hallita.
</p>

<p>
  Mutta miten muut sivut sitten sijoittuvat sivupohjaamme? Tarkastellaan <code>base.html</code>-tiedostosta seuraavaa kohtaa:
</p>

<div hljs language="xml"><! ... -->
<div id="main-container">
  <!-- Dynaaminen sisältö tulee tähän -->
  {% block content %}{% endblock %}
</div>
<!-- ... --></div>

<p>
  Nyt alat ehkä arvata, mitä tapahtuu. <code>helloworld.html</code>-tiedoston <code>{% block content %}</code> ja <code>{% endblock %}</code> väliin lisätty sisältö lisätään siis kyseiseen kohtaan <code>base.html</code>-tiedostoa ja niin muodostuu haluamamme näköinen sivu.
</p>

<p>
  Tämä on vasta alkua, tulemme näkemään, kuinka hienoja asioita Twig:llä voi saada aikaan. Palaamme sen pariin taas ensi viikolla.
</p>
<h3>3.5 Oman sovelluksemme näkymät</h3>
<p>
  Muistelen hieman oman sovellukseni vaatimuksia:
</p>

<blockquote>
  Ystävälleni Henrille on kertynyt todella paljon pelejä, eikä hän koskaan muista, mitkä niistä hän on jo läpäissyt ja mitkä on vielä kesken.
  Henri haluaa siis mahdollisuuden lisätä pelejä kirjastoonsa ja muokata niiden tietoja. Lisäksi Henrin mielestä olisi hyvä idea, jos muutkin pystyisivät rekisteröitymään sovellukseen ja kirjautunut käyttäjä pystyisi lisäämään pelejä omaan kirjastoonsa.
</blockquote>

<p>
  Tarvitsen siis ainakin seuraavat näkymät sovellukseeni:
</p>

<ul>
  <li>Käyttäjän pelien listaussivu, jossa olisi kunkin pelin nimi ja lisäksi muita tärkeimpiä tietoja</li>
  <li>Pelin esittelysivu, joka esittelee pelin tiedot tarkemmin</li>
  <li>Pelin muokkaussivu, joka olisi lomake, jonka kautta pelin tietoja voi muokata</li>
  <li>Rekisteröitymissivu, joka olisi lomake, jonka kautta käyttäjä voi rekisteröityä sovellukseen</li>
  <li>Kirjautumissivu, joka olisi lomake, jonka kautta käyttäjä voi kirjautua sisään sovellukseen</li>
</ul>

<p>
  Aloitetaan käyttäjän pelien <strong>listaussivusta</strong> (game_list.html). Tässä on visioni siitä:
</p>
<div hljs language="xml">{% extends "base.html" %}

{% block content %}
  <h1>Käyttäjän Henri pelikirjasto</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää peli</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Julkaisupäivä</th>
        <th>Julkaisija</th>
        <th>Status</th>
        <th>Lisäyspäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="#">The Elder Scrolls V: Skyrim</a></td>
        <td>11.11.2011</td>
        <td>Bethesda Softworks</td>
        <td><label class="label label-danger">kesken</label></td>
        <td>9.12.2014</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}</div>
<h1>Käyttäjän Henri pelikirjasto</h1>

<p>
  <a href="#" class="btn btn-success">Lisää peli</a>
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Julkaisupäivä</th>
      <th>Julkaisija</th>
      <th>Status</th>
      <th>Lisäyspäivä</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><a href="#">The Elder Scrolls V: Skyrim</a></td>
      <td>11.11.2011</td>
      <td>Bethesda Softworks</td>
      <td><label class="label label-danger">kesken</label></td>
      <td>9.12.2014</td>
      <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
    </tr>
  </tbody>
</table>
  <p>Jokaisella pelillä on <strong>esittelysivu</strong> (game_show.html), joka voisi näyttää tältä:
    <div class="row">
      <div class="col-md-6">
        <div hljs language="xml">{% extends "base.html" %}

{% block content %}
  <h1>The Elder Scrolls V: Skyrim</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Julkaisupäivä:</strong> 11.11.2011</li>
    <li><strong>Julkaisija:</strong> Bethesda Softworks</li>
    <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
    <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    The Elder Scrolls V: Skyrim on Bethesda Softworksin kehittämä ja vuonna 2011 Xbox 360:lle, PlayStation 3:lle ja Microsoft Windowsille julkaisema The Elder Scrolls -tietokoneroolipelisarjan videopeli. Skyrim on The Elder Scrolls -sarjan viides osa.
  </p>
{% endblock %}</div>
        </div>
        <div class="col-md-6">
          <h1>The Elder Scrolls V: Skyrim</h1>
          <p>
            <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
          </p>

          <ul>
            <li><strong>Julkaisupäivä:</strong> 11.11.2011</li>
            <li><strong>Julkaisija:</strong> Bethesda Softworks</li>
            <li><strong>Status:</strong> <label class="label label-danger">kesken</label></li>
            <li><strong>Lisäyspäivä:</strong> 9.12.2014</li>
          </ul>

          <p>
            The Elder Scrolls V: Skyrim on Bethesda Softworksin kehittämä ja vuonna 2011 Xbox 360:lle, PlayStation 3:lle ja Microsoft Windowsille julkaisema The Elder Scrolls -tietokoneroolipelisarjan videopeli. Skyrim on The Elder Scrolls -sarjan viides osa.
          </p>
        </div>
      </div>

      <p>Pelin <strong>muokkaussivu</strong> näyttäisi tältä:</p>

      <div class="row">
        <div class="col-md-6">
          <div hljs language="xml">{{ '{' }}% extends "base.html" %{{ '}' }}

{% block content %}
  <h1>Muokkaa peliä The Elders Scrolls V: Skyrim</h1>

  <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Pelattu
      </label>
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="The Elder Scrolls V: Skyrim">
    </div>
    <div class="form-group">
      <label>Julkaisupäivä</label>
      <input type="text" class="form-control" value="11.11.2011">
    </div>
    <div class="form-group">
      <label>Julkaisija</label>
      <input type="text" class="form-control" value="Bethesda Softworks">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <textarea class="form-control">
        The Elder Scrolls V: Skyrim on Bethesda Softworksin kehittämä ja vuonna 2011 Xbox 360:lle, PlayStation 3:lle ja Microsoft Windowsille julkaisema The Elder Scrolls -tietokoneroolipelisarjan videopeli. Skyrim on The Elder Scrolls -sarjan viides osa.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}</div>
        </div>
        <div class="col-md-6">
          <h1>Muokkaa peliä The Elders Scrolls V: Skyrim</h1>

          <form>
            <div class="checkbox">
              <label>
                <input type="checkbox">
                Pelattu
              </label>
            </div>
            <div class="form-group">
              <label>Nimi</label>
              <input type="text" class="form-control" value="The Elder Scrolls V: Skyrim">
            </div>
            <div class="form-group">
              <label>Julkaisupäivä</label>
              <input type="text" class="form-control" value="11.11.2011">
            </div>
            <div class="form-group">
              <label>Julkaisija</label>
              <input type="text" class="form-control" value="Bethesda Softworks">
            </div>
            <div class="form-group">
              <label>Kuvaus</label>
              <textarea class="form-control">The Elder Scrolls V: Skyrim on Bethesda Softworksin kehittämä ja vuonna 2011 Xbox 360:lle, PlayStation 3:lle ja Microsoft Windowsille julkaisema The Elder Scrolls -tietokoneroolipelisarjan videopeli. Skyrim on The Elder Scrolls -sarjan viides osa.</textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Tallenna</button>
            </div>
          </form>
        </div>
      </div>

      <p>
        Sovellukseni <strong>kirjautumissivu</strong> (login.html) olisi kutakuinkin tämän kaltainen:
      </p>

      <div class="row">
        <div class="col-md-6">
          <div hljs language="xml">{% extends "base.html" %}

{% block content %}
  <h1>Kirjaudu sisään</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form>
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" class="form-control">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
  </form>
{% endblock %}</div>
          </div>
          <div class="col-md-6">
            <h1>Kirjaudu sisään</h1>

            <form>
              <div class="form-group">
                <label>Käyttäjätunnus</label>
                <input type="text" class="form-control">
              </div>

              <div class="form-group">
                <label>Salasana</label>
                <input type="password" class="form-control">
              </div>

              <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
            </form>
          </div>
        </div>
  <p>
    Lisään vielä navigaatiopalkkiin linkin pelikirjastoon ja kirjautumis-sivulle sekä muutan sovellukseni nimeä. Tämä onnistuu <code>base.html</code>-tiedostossa:
  </p>

<div hljs language="xml"><!-- ... -->
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Sovelluksen nimi -->
      <a class="navbar-brand" href="#">Pelikirjasto</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <!-- Navigaation linkit -->
        <li><a href="#">Pelit</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Kirjaudu sisään</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- ... --></div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Sovelluksen nimi -->
      <a class="navbar-brand" href="#">Pelikirjasto</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <!-- Navigaation linkit -->
        <li><a href="#">Pelit</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Kirjaudu sisään</a></li>
      </ul>
    </div>
  </div>
</nav>

        <p>
          Mitä näkymiä omaan sovellukseesi tulee? Aloita vaikka ideoimalla näkymiä paperille ja tee sitten <code>app/views</code>-kansioon kansio <code>suunnitelmat</code> ja tee sinne muutama HTML-sivu sovelluksesi näkymistä. Kaikkia näkymiä ei tarvitse vielä tässä vaiheessa tehdä, tässä vaiheessa etusivun, listaussivujen ja muokkaus- sekä esittelysivujen suunnitelmat riittävät. Tee sen jälkeen <code>HelloWorldController</code>-luokkaan metodit, jotka renderöivät näkymäsi, vaikkapa tähän tapaan:
        </p>
        <div hljs language="php" no-escape>class HelloWorldController extends BaseController{
  // ...

  public static function game_list(){
    View::make('suunnitelmat/game_list.html');
  }

  public static function game_show(){
    View::make('suunnitelmat/game_show.html');
  }

  public static function login(){
    View::make('suunnitelmat/login.html');
  }
}</div>
        <p>
          Lisätään vielä uusille metodeille reitit <code>config</code> kansiossa sijaitseen <code>routes.php</code>-tiedostoon:
        </p>
        <div hljs language="php" no-escape>// ...
$routes->get('/game', function() {
  HelloWorldController::game_list();
});

$routes->get('/game/1', function() {
  HelloWorldController::game_show();
});

$routes->get('/login', function() {
  HelloWorldController::login();
});
        </div>

<p>
  Käyttöliittymää toteuttaessa kannattaa tutustua ainakin seuraaviin kohtiin Bootstrap:n dokumentaatiosta:
  <ul>
    <li><a href="http://getbootstrap.com/css/#type" target="_blank">typography</a> - tekstin asettelu ja tyylittely</li>
    <li><a href="http://getbootstrap.com/css/#tables" target="_blank">tables</a> - taulukot</a></li>
    <li><a href="http://getbootstrap.com/css/#forms" target="_blank">forms</a> - lomakkeet</a></li>
    <li><a href="http://getbootstrap.com/css/#buttons" target="_blank">buttons</a> - painikkeet</a></li>
  </ul>
</p>

<p>
  Lisää reposi <code>README.md</code>tiedostoon linkit näihin sivuihin.
</p>
<hr>
<a id="4-tietokantayhteyden-muodostaminen-ja-tietokantataulut"></a>
<h2>4. Tietokantayhteyden muodostaminen ja tietokantataulut</h2>
<h3>4.1 Tietokantayhteyden muodostaminen</h3>
<p>
  Tsoha Bootstrap on jo hoitanut tietokantayhteyden muodostamisen puolestasi, onneksi olkoon! Siirry kuitenkin selaimessa sovelluksesi polkuun <code>/tietokantayhteys</code> ja varmista asia. Sivulle pitäisi ilmestyä seuraavanlainen ilmoitus:
</p>
<div class="alert alert-success">
  Tietokantayhdeyn muodostaminen onnistui!
</div>
<h3>4.2 Tietokannan dokumentointi</h3>
<p>
  Täydennetään ensin dokumentaatiotamme <strong><a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#j%C3%A4rjestelm%C3%A4n-tietosis%C3%A4lt%C3%B6">järjestelmän tietosisältö</a></strong> osiolla ja <strong><a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#relaatiotietokantakaavio">relaatiotietokantakaaviolla</a></strong>, jotta tiedämme, mitkä taulut tietokantaamme tarvitsemme. Muistathan, että arvosanaan 5 vaaditaan vähintään yksi <a href="http://en.wikipedia.org/wiki/Many-to-many_%28data_model%29">monesta-moneen-suhde</a> tietokantaulujen välillä.
</p>
<h3>4.3 Tietokantaulujen pystyttäminen</h3>
<p>
  Tietokantojen parissa työskennellessä kannattaa tarvittaessa katsoa ohjeita esimerkiksi näiltä sivuilta:
</p>
<ul>
  <li><a href="http://www.w3schools.com/sql/default.asp" target="_blank">W3Schoolsin SQL-opas</a></li>
  <li><a href="http://www.tutorialspoint.com/postgresql/index.htm" target="_blank">Tutorialspointin PostgreSQL-opas</a></li>
</ul>
<p>
  Kansiossa <code>sql</code> sijaitsevat tiedostot <code>create_tables.sql</code>, <code>drop_tables.sql</code> ja <code>add_test_data.sql</code>. Aloitetaan lisäämällä tietokantaulujemme luontilauseet <code>create_table.sql</code>-tiedostoon. Käytössäni on PostgreSQL-tietokanta, jolloin oman sovellukseni osalta ne ovat seuraavat:
</p>
<div hljs language="sql" no-escape copy-paste-warning>CREATE TABLE Player(
  id SERIAL PRIMARY KEY, -- SERIAL tyyppinen pääavain pitää huolen, että tauluun lisätyllä rivillä on aina uniikki pääavain. Kätevää!
  name varchar(50) NOT NULL, -- Muista erottaa sarakkeiden määrittelyt pilkulla!
  password varchar(50) NOT NULL
);

CREATE TABLE Game(
  id SERIAL PRIMARY KEY,
  player_id INTEGER REFERENCES Player(id), -- Viiteavain Player-tauluun
  name varchar(50) NOT NULL,
  played boolean DEFAULT FALSE,
  description varchar(400),
  published DATE,
  publisher varchar(50),
  added DATE
);
</div>
<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Muistaa luoda taulu ennen kuin viittaat siihen toisessa taulussa viiteavaimella, kuten omassa sovelluksessani loin <code>Player</code>-taulun ennen <code>Game</code>-taulua.
  </div>
</p>
<p>
  Ennen omien tietokantataulujen luontilauseiden kirjoittamista kannattaa tutustua PostgreSQL:n <strong><a href="http://www.tutorialspoint.com/postgresql/postgresql_create_table.htm" target="_blank">CREATE TABLE</a></strong>-lauseisiin ja <strong><a href="http://www.tutorialspoint.com/postgresql/postgresql_data_types.htm" target="_blank">tietotyyppeihin</a></strong>. Muista käyttää pääavaimissa <strong><a href="http://www.postgresql.org/docs/8.1/static/datatype.html#DATATYPE-SERIAL" target="_blank">SERIAL</a></strong>-tietotyyppiä, jolloin sinun ei tarvitse huolehtia pääavaimen asettamisesta, kun lisäät rivejä tauluusi.
</p>
<p>
  Lisätään tauluillemme myös poistolauseet, jolloin voimme poistaa ne tarvittaessa. Lisätään poistolauseet <code>drop_tables.sql</code>-tiedostoon:
</p>
<div hljs language="sql" no-escape>DROP TABLE IF EXISTS Game CASCADE; -- Muista IF EXISTS ja CASCADE parametrit!
DROP TABLE IF EXISTS Player CASCADE;</div>
  <p>
    Muista lisätä <code>DROP TABLE</code>-komennon eteen <code>IF EXISTS</code>-parametri, muuten komennon suorittaminen taululle, jota ei ole luotu, aiheuttaa virheilmoituksen. Lisäksi on hyvä lisätä <code>CASCADE</code>-parametri, joka kertoo, että kun taulu poistetaan, myös siihen viittaavat rivit poistetaan, jolloin vältytään virheilmoituksilta.
  </p>
  <p>
    Tallenna seuraavaksi molemmat tiedostot ja siirrä ne tuttuun tapaan palvelimelle.  Suorita sen jälkeen terminaalissa projektisi juuressa komento <code>bash create_tables.sh</code>, joka ajaa ensin <code>drop_tables.sql</code>- ja sen jälkeen <code>create_tables.sql</code>-tiedoston tietokantaasi. Jos syntaksissasi oli virheitä, korjaa virheet ja aja <code>bash create_tables.sh</code> uudestaan.
  </p>
  <p>
    Kun saat tietokantataulusi ajattetua tietokantaan onnistuneesti, lisää niihin hieman testidataa. Tämä onnistuu lisäämällä tarvittavat <code>INSERT INTO</code>-lauseet <code>add_test_data.sql</code> tiedostoon. Oma testidatani näyttää tältä:
  </p>
  <div hljs language="sql" no-escape>-- Player-taulun testidata
INSERT INTO Player (name, password) VALUES ('Kalle', 'Kalle123'); -- Koska id-sarakkeen tietotyyppi on SERIAL, se asetetaan automaattisesti
INSERT INTO Player (name, password) VALUES ('Henri', 'Henri123');

-- Game taulun testidata
INSERT INTO Game (name, description, published, publisher, added) VALUES ('The Elder Scrolls V: Skyrim', 'Arrow to the knee', '2011-11-11', 'Bethesda Softworks', NOW());</div>
  <p>
    Tallenna, siirrä sovelluksesi tiedostot palvelimelle ja aja testidata tietokantaan suorittamalla projektisi juuressa komento <code>bash add_test_data.sh</code>.
  </p>
  <p>
    Voimme tarkastella tietokantamme tauluja ja niiden sisältöä menemällä selaimessa sovelluksessamme polkuun <code>/tietokantayhteys</code>. Voit myös halutessasi listata tietokantaulusi <code>psql</code>-komentotulkin avulla seuraavasti:
  </p>
<div hljs no-escape>
kalleilv=> \dt
List of relations
Schema |  Name  | Type  |  Owner
--------+--------+-------+----------
public | game   | table | kalleilv
public | player | table | kalleilv
(2 rows)</div>
<p>
  Suoritin siis komentotulkissa vain komennon <code>\dt</code>, joka listaa tietokantani tietokantataulut.
</p>
  <p>
    <div class="alert alert-info">
      <h4>Vinkki</h4>
      Voit myös halutessasi ajaa <code>sql</code>-tiedostot tietokantaasi komentotulkin avulla. Tämä onnistuu users-palvelimella komennolla <code>psql < polku/tiedostoon/tiedoston_nimi.sql</code>.
    </div>
  </p>
  <hr>
  <a id="5-palautuksen-vaatimukset"></a>
  <h2>5. Palautuksen vaatimukset</h2>
  <ol>
    <li>
      Suunnittele käyttöliittymäsi ja toteuta niistä staattiset HTML-sivut. Muista lisätä linkit toteuttamiisi sivuihin reposi <code>README.md</code>-tiedostoon. <strong>(1,5p)</strong>
      <ul>
        <li>Suunnittele etusivu</li>
        <li>Suunnittele listaussivut</li>
        <li>Suunnittele muokkaus- ja esittelysivut</li>
      </ul>
    </li>
    <li>
      Ota tietokanta käyttöön ja dokumentoi se. <strong>(1,5p)</strong>
      <ul>
        <li>Lisää dokumentaatioon <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#j%C3%A4rjestelm%C3%A4n-tietosis%C3%A4lt%C3%B6">järjestelmän tietosisältö</a> osio ja <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#relaatiotietokantakaavio">relaatiotietokantakaavio</a></li>
        <li>Lisää tietokantataulujen pystytyslauseet <code>create_tables.sql</code>-tiedostoon</li>
        <li>Lisää tietokantataulujen poistolauseet <code>drop_tables.sql</code>-tiedostoon</li>
        <li>Lisää testidatan lisäyslauseet <code>add_test_data.sql</code>-tiedostoon</li>
      </ul>
    </li>
    <li>
      <strong>Pushaa kaikki tekämäsi muutokset repoosi!</strong>
    </li>
  </ol>
  <a href="#viikko3" class="btn btn-default pull-right">Viikko 3 <span class="glyphicon glyphicon-chevron-right"></span></a>
