<div class="page-header">
  <h1>Viikko 1</h1>
</div>
<h2>Sisällysluettelo</h2>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" ng-click="goto_anchor('1-web-sovellusten-toimintaperiaatteet')">1. Web-sovellusten toimintaperiaatteet</a></li>
  <li><a href="" ng-click="goto_anchor('2-mvc-malli')">2. MVC-malli</a></li>
  <li><a href="" ng-click="goto_anchor('3-tyoympariston-pystyttaminen')">3. Työympäristön pystyttäminen</a></li>
  <li><a href="" ng-click="goto_anchor('4-perusasioiden-dokumentointi')">4. Perusasioiden dokumentointi</a></li>
  <li><a href="" ng-click="goto_anchor('5-palautuksen-vaatimukset')">5. Palautuksen vaatimukset</a></li>
</ul>

<hr>

<a id="1-web-sovellusten-toimintaperiaatteet"></a>
<h2>1. Web-sovellusten toimintaperiaatteet</h2>

<p>
  Web-sovellusten toiminta perustuu <strong>asiakas-</strong> ja <strong>palvelinkoneiden</strong> väliseen kommunikointiin, jossa asiakas pyytää palvelua, jonka palvelin tarjoaa. Käytännössä, kun avaat sivun <strong>selaimellasi</strong> (esimerkiksi Firefox tai Google Chrome), toimit asiakkaana sivua tarjoavalle palvelimelle.
</p>

<p>
  Selaimessa tehdyt pyynnöt kohdistuvat <strong><a href="http://en.wikipedia.org/wiki/Uniform_resource_locator">URL</a></strong>:hin, kuten esimerkiksi <a href="http://www.cs.helsinki.fi/courses">http://www.cs.helsinki.fi/courses</a>. URL:n ensimmäinen osa on yleensä <strong><a href="http://fi.wikipedia.org/wiki/DNS">DNS</a></strong>-nimi, joka on esimerkissämme <a href="http://www.cs.helsinki.fi">www.cs.helsinki.fi</a>. DNS-nimen avulla pystytään selvittämään www-sivua hallinnoivan palvelimen osoite. Toinen osa taas viittaa palvelimelta hakemaamme resurssiin, joka on esimerkissämme <code>courses</code>. Katsotaan seuraavaksi, minkälaisia vastauksia palvelin antaa pyyntöihimme käytännössä.
</p>

<h3>1.1 HTTP-protokolla</h3>

<p>
  <strong>HTTP</strong> (Hypertext Transfer Protocol) on protokolla, jolla <strong>web-palvelimet</strong> ja <strong>selaimet</strong> kommunikoivat keskenään. Kommunikointi perustuu selaimen lähettämiin pyyntöihin, joihin web-palvelin vastaa.
</p>
<p>
  Yksi yleisimmistä pyynnöistä on <strong>GET-pyyntö</strong>, jonka avulla selain pyytää resurssia palvelimelta. Kun avaat selaimessasi sivun <a href="http://www.cs.helsinki.fi/home/">http://www.cs.helsinki.fi/home/</a>, selaimesi tekee GET-pyynnön osoitteeseen http://www.cs.helsinki.fi/home/, johon palvelin antaa vastauksena statuskoodin 200 ja sivun sisällön HTML-muodossa, jonka selaimesi renderöi sinulle. Jos sivua ei ole olemassa, palvelin palauttaa selaimelle virheestä kertovan statuskoodin 404.
  GET-pyynnön mukana on usein myös tapana välittää parametreja, joita palvelimella pyörivä sovellus voi hyödyntää. Esimerkiksi tehdessämme GET-pyynnnön osoitteeseen <a href="http://www.cs.helsinki.fi/courses?y=2014">http://www.cs.helsinki.fi/courses?y=2014</a> välitämme pyynnön yhteydessä parametrin <code>y</code>, joka saa arvokseen <code>2014</code>. Tässä on osa HTTP-pyynnöistä, jotka selaimeni tekee, kun menen sivulle <a href="http://www.cs.helsinki.fi/home/">www.cs.helsinki.fi/home/</a>:
</p>

<img src="assets/images/http-pyynnot.png" class="img-responsive">

<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    Kuva on otettu Firefoxin Development Toolbar:sta, joka on erittäin kätevä työkalu web-sovellusten kehittämisessä. Pääset käyttämään työkalua menemällä selaimessasi Työkalut > Web-työkalut > Developer Toolbar ja siirtymällä "Network"-tabiin.
  </div>
</p>

<p>
  Kuten näet, suurin osa pyynnöistä on GET-pyyntöjä, jotka kohdistuvat staattisiin tiedoistoihin, kuten kuviin tai tyylitiedostoihin. Pyynnöistä ylimmäinen palauttaa <strong>html</strong>-tiedoston, joka esittää selaimessa näkemäämme sivua.
</p>

<p>
 Haluamme kuitenkin myös usein lähettää tietoa palvelimelle, kuten jonkin käyttäjän täyttämän lomakkeen. Tämä onnistuu <strong>POST-pyynnöllä</strong>, jonka mukana pystyy välittämään GET-pyynnön tapaan parametreja, jotka eivät tosin vain näy kyselyn osoitteessa. Tulemme tässä materiaalissa käymään läpi, miten käytännössä käsittelemme ja vastaamme näihin selaimen lähettämiiin pyyntöihin sovelluksessamme.
</p>
<hr>
<a id="2-mvc-malli"></a>
<h2>2. MVC-malli</h2>
<p>
  <strong>MVC-malli</strong> (model-view-controller) on nykyään hyvin yleinen web-sovellusten toteutusmalli, jonka tarkoituksena on erottaa näkymä sovelluslogiikasta. Siinä sovellus jaetaan kolmeen osaan:
  <ul>
    <li><strong>malliin</strong> (model), joka mahdollistaa tietokannasta haetun tiedon esittämisen sovelluksen kannalta mielekkäässä muodossa, eli yleensä olioina, jolloin kukin malli kuvaa yhtä sovelluksen tietokohteista (esim. Asiakas, Tuote, Opiskelija, jne.). Kaikki tietokantaan kohdistuvat kyselyt suoritetaan mallien kautta.</li>
    <li><strong>näkymään</strong> (view), joka määrittää sovelluksen käyttöliittymän ulkoasun ja tiedon esitysmuodon. Sen kautta lähetään myös käyttäjän syöttämiä tietoja sovellukselle esimerkiksi lomakkeiden kautta.</li>
    <li><strong>kontrolleriin</strong> (controller), joka toimii liimana näkymän ja mallin välissä. Se käsittelee selaimen lähettämät pyynnöt, välittää mallilta saamansa sisällön näkymälle tai pyytää mallia tekemään muutoksia tietokantaan.</li>
  </ul>
</p>

<p>
  Kuvitellaan, että Tietojenkäsittelytieteen laitoksen <a href="http://www.cs.helsinki.fi/courses">kurssitarjonta</a>-sivu toimisi MVC-mallin mukaisesti. Tällöin opiskelijan tekemä GET-pyyntö sivulle www.cs.helsinki.fi/courses etenisi sovelluksessa kutakuinkin seuraavasti:
</p>

<div style="display: table;">
  <div style="display: table-cell; vertical-align: top">
    <img src="assets/images/mvc-kaavio.png" class="img-responsive">
  </div>
  <div style="display: table-cell; vertical-align: top; padding-left: 20px">
    <ol>
      <li>Opiskelijan kirjoitettua URL:n selaimen osoiteriville selain tekee GET-pyynnön palvelimelle www.cs.helsinki.fi</li>
      <li>Palvelimella pyörivä web-palvelinohjelmisto ohjaa pyynnön itse sovellukseen, jonka reiteistä katsotaan, mille kontrollerille ja mille sen metodille resurssiin courses kohdistuvat GET-pyynnöt ohjataan</li>
      <li>Kun kontrolleri ja metodi löytyy, sitä kutsutaan. Kontrolleri pyytää kurssien hallinnasta vastuussa olevalta mallilta kaikki tämän vuosineljänneksen kurssit.</li>
      <li>Kurssien hallinnasta vastuussa oleva malli hakee tietokannasta kaikki vuosineljänneksen kurssit, muodostaa niistä sovelluksen olioita ja palauttaa ne kontrollerille.</li>
      <li>Saatuaan haluamansa kurssit, kontrolleri pyytää kurssien listaa esittävää näkymää renderöimään itsensä mallilta haetuilta kursseilla.</li>
      <li>Kontrolleri saa näkymältä kurssit listaavan HTML-sivun.</li>
      <li>Kontrolleri antaa HTML-sivun web-palvelimelle.</li>
      <li>Web-palvelin palauttaa HTML-sivun ja siihen liittyvät headerit selaimelle, joka renderöi sen opiskelijalle.</li>
    </ol>
  </div>
</div>
<hr>
<a id="3-tyoympariston-pystyttaminen"></a>
<h2>3. Työympäristön pystyttäminen</h2>
<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Tässä vaiheessa tarvitset CS-tunnukset. Jos olet sivuaineopiskelija, lue <a href="http://www.cs.helsinki.fi/tietotekniikka/k-ytt-luvat" target="_blank">täältä</a> kohta "Sivuaineopiskelijat", jossa neuvotaan, miten saat ne.
  </div>
</p>
Löpinät sikseen ja ryhdytä hommiin! Tulemme pystyttämään sovelluksemme laitoksen <strong>users-palvelimelle</strong>, jossa pystymme pyörittämään <strong>PHP</strong>:lla tai <strong>Javalla</strong> toteutettua sovellusta käyttäen joko <strong>PostgreSQL</strong>- tai <strong>MySQL</strong>-tietokantapalvelinta.
Tässä materiaalissa toteutamme sovelluksemme PHP:lla käyttäen PostgreSQL-tietokantapalvelinta. Myös muut toteutusvaihtoehdot ovat toki mahdollisia, kunhan sovit asiasta erikseen ohjaajan kanssa.
<h3>3.1 Lyhyesti PHP:sta</h3>
<p>
  <strong>PHP</strong> on erittäin yleinen web-palvelinympäristössä käytetty kieli, joka sopii hyvin sovelluksemme toteuttamiseen. Javaan tottuneella ohjelmoijalla saattaa kuitenkin olla PHP:n kanssa aluksi hieman sulattelemista. Ensimmäinen oleellinen ero kielten välillä on, ettei PHP:ssa muuttujilla ole tyyppejä:
</p>

<div hljs language="php" no-escape>$luku = 1;
$merkkijono = 'Hello World!';
$totuusarvo = true;
$oliomuuttuja = new Kissa('Misse');
// Voimme sijoittaa myös funktion muuttujaan, siistiä!
$summaaja = function($a, $b){
  return $a + $b;
}</div>

<p>
  Kuten huomaat kaiken tyyppisiin muuttujiin viitataan <code>$</code>-merkillä. Ei tarvitse kuitenkaan pelästyä, nimittäin PHP:sta löytyy paljon Javasta tuttuja rakenteita:
</p>

<div hljs language="php" no-escape>// if-lause
if($kissa == 'Misse'){
  // voimme tulostaa echo-komennolla
  echo 'Kissan nimi on Misse';
}

// for-looppi
for($i=0; $i<10; $i++){
  echo $i;
}

// while-looppi
while(true){
  echo 'Tässä loopissa ollaan hetki...';
}

// luokka
class Kissa{
  // olion private atribuutti
  private $nimi;

  // konstruktori
  public function __construct($nimi){
    $this->nimi = $nimi;
  }

  // metodi (huomaa, ettei palautusarvolla tule määrittää tyyppiä)
  public function nimi(){
    return $this->nimi;
  }
}

$misse = new Kissa('Misse');

echo $misse->nimi();
// tulostuu 'Misse'</div>

<p>
  Jatka PHP:n perusteiden opiskelua <a href="http://www.w3schools.com/php/">W3Schools</a>:ssa ja kokeile kirjoittamiasi PHP-skriptejä <a href="http://phpfiddle.org/">PhpFiddle</a>:ssä. Puhumme myöhemmin kuitenkin PHP:sta vielä paljon lisää, joten kaikkea ei tarvitse oppia heti.
</p>

<h3>3.2 PHP-tuen käyttöönotto</h3>
<p>
  Otetaan seuraavaksi PHP-tuki käyttöön users-palvelimella. Aloitetaan ottamalla <strong>SSH-yhteys</strong> users-palvelimeen, joka onnistuu avaamalla terminaali ja suorittamalla siinä seuraava komento (käytä CS-käyttäjätunnustasi kohdassa <code>kayttajatunnus</code>):
</p>
<div hljs no-escape>ssh kayttajatunnus@users.cs.helsinki.fi</div>

<p>
  <strong>Tämän komennon suorittaminen kysyy sinulta CS-käyttäjäsi salasanaa.</strong>
</p>

<p>
  PHP-tiedostot sijoitetaan kotihakemistossasi sijaitsevaan <code>htdocs</code>-kansioon. Luodaan se suorittamalla seuraava komento:
</p>

<div hljs no-escape>wanna-htdocs</div>

<p>
  Se on siinä! <code>htdocs</code> kansio on nyt luotu, katso vaikka itse suorittamalla terminaalissa <code>ls -l</code>.
</p>

<h3>3.3 Tietokannan käyttöönotto</h3>
<p>
  Seuraavaksi tarvitsemme käyttöömme tietokannan. Kuten jo mainittiin users-palvelimella voimme valita PostgreSQL- ja MySQL-tietokantapalvelimien väliltä. Koska PostgreSQL-tietokannan käyttö on paljon
  vaivattomampaa, käytämme tässä materiaalissa sitä. Saat sen käyttöösi suorittamalla palvelimen puolella seuraavan komennon:
</p>

<div hljs no-escape>wanna-postgres</div>

<p>
Voimme nyt tehdä kyselyitä tietokantaamme käyttämällä komentotulkkia, joka käynnistyy komennolla <code>psql</code>.
</p>

<div hljs no-escape>kalleilv@users:~$ psql
psql (8.4.22)
Type "help" for help.

kalleilv=> SELECT 1+1 AS numero;
numero
--------
2
(1 row)

kalleilv=> \q
</div>

<p>
  Suoritin siis komentotulkissa kyselyn <code>SELECT 1+1 AS numero</code> (muista ";" kyselyn loppuun!) ja suljin sen syöttämällä <code>\q</code>.
</p>

<h3>3.4 Hakemistojen välillä siirtyminen terminaalissa</h3>
<p>
  Tässä muutama vinkki hakemistojen välillä siirtymiseen terminaalissa, joista saattaa olla jatkossa hyötyä:
</p>
<div hljs no-escape># tällä komennolla voit tarkastella tämänhetkisen hakemiston tiedostoja:
ls -la
# tällä komennolla voit siirtyä hakemistoon:
cd hakemiston_nimi
# tällä komennolla voit siirtyä hakemistohierarkiassa yhden hakemiston taaksepäin:
cd ..
# tällä komennolla voit siirtyä kotihakemistoosi
cd $HOME
</div>

<h3>3.5 SSH-avain</h3>
<p>
  Luodaan seuraavaksi <strong>SSH-avain</strong>, jotta meidän ei aina tarvitsi kirjoittaa salasanaa SSH-yhteyden avaamisen yhteydessä. Poistutaan hetkeksi users-palvelimelta esimerkiksi avaamalla uusi terminaali, jonka jälkeen suoritetaan siinä komento <code>ssh-keygen</code>. Meiltä kysytään tiedoston nimeä ja salasanaa. Voit jättää sekä tiedoston nimen, että salasanan halutessasi tyhjäksi, korvaa vain tarvittaessa jo ennestään luotu <code>id_rsa.pub</code>-tiedosto. Jos päädyt asettamaan avaimellesi salasanan, täytyy sinun suorittaa terminaalissa jokaisen sisäänkirjautumisen jälkeen komento <code>ssh-add</code> ja syöttää avaimellesi valitsemasi salasana. Siis salasanan jättämien asettamatta on melko paljon vaivattomampaa. Avainparimme on nyt luotu.
</p>
<div hljs no-escape>Your identification has been saved in /Users/kalle/.ssh/id_rsa.
Your public key has been saved in /Users/kalle/.ssh/id_rsa.pub.
The key fingerprint is:
62:7d:a6:41:56:4d:5c:40:f4:c5:71:e7:2f:2d:1c:03 kalle@mac-macbook-air.elisa
The keys randomart image is:
+--[ RSA 2048]----+
|          .*Eo.o=|
|         .  oo o+|
|        o     + .|
|       +     . +.|
|      o S o   + o|
|     . . =     o |
|        .        |
|                 |
|                 |
+-----------------+</div>
<p>
  Katsotaan tulosteesta, mihin <code>id_rsa.pub</code>-tiedosto (tai itse nimeämäsi <code>pub</code>-tiedosto) luotiin, minulta se löytyy kansiosta <code>/Users/kalle/.ssh</code> ja laitoksen koneilla <code>/home/kayttajatunnus/.ssh</code>. Siirrytään oikeaan kansioon suorittamalla terminaalissa <code>cd OMA_POLKUNI</code>. Avataan tiedosto <code>id_rsa.pub</code> suorittamalla <code>cat id_rsa.pub</code> ja kopioidaan terminaalista tiedoston sisältö. Laitetaan sisältö hetkeksi talteen vaikkapa tekstitiedostoon vanhalla kunnon copypaste-menetelmällä.
</p>

<p>
  Otetaan seuraavaksi SSH-yhteys users-palvelimeen:
</p>
<div hljs no-escape>ssh kayttajatunnus@users.cs.helsinki.fi</div>
<p>
  Kun yhteys on muodostettu, luodaan kotihakemistoosi kansio <code>.ssh</code>, jos ei jo ole siellä. Tämä onnistuu suorittamalla <code>mkdir .ssh</code>. Siirrytään luomaamme kansioon suorittamalla <code>cd .ssh</code> ja luodaan tiedosto <code>authorized_keys</code> suorittamalla <code>touch authorized_keys</code>. Avataan luomma tiedosto vim-editorissa suorittamalla <code>vim authorized_keys</code> ja painetaan <kbd>a</kbd>-näppäintä, jolloin pääsemme muokkaamaan tiedostoa. copypastetetaan tallettamamme <code>id_rsa.pub</code>-tiedoston sisältö editoriin (Huom! Jos tiedossa oli jo ennestään avain, pasteta sisältö uudelle riville), painetaan <kbd>esc</kbd>-näppäintä, kirjoitetaan <code>:wq</code> ja painetaan <kbd>enter</kbd>-näppäintä, jolloin tallennamme tiedoston ja lopetamme. Lisätään vielä tarvittavat oikeudet:
</p>
  <div hljs no-escape># Siirrytään takaisin kotihakemistoon
cd $HOME
# Oikeudet .ssh-kansiolle (luku, kirjoitus ja suoritus)
chmod 700 .ssh
# Oikeudet authorized_keys-tiedostolle (luku ja kirjoitus)
chmod 600 .ssh/authorized_keys
</div>
  <p>
    Se on siinä! Kokeile vielä, ettei SSH-yhteyden muodostaminen tarvitse salasanaa.
  </p>
<h3>3.6 Tsoha Bootstrap</h3>

<p>
  <strong>Tsoha Bootstrap</strong> on paketti, joka sisältää paljon hyödyllisiä työkaluja ja valmiin kansiorakenteen sovellukseesi. Sen tarkoitus on päästää sinut nopeasti alkuun sovelluksesi kanssa ja ohjata sinua MVC-mallin noudattamisessa.
</p>

<p>
  Aloitetaan siirtymällä <strong><a href="http://github.com/">GitHubiin</a></strong>, joka web-pohjainen Git-repositorioiden hostaus palvelu. Selvällä suomen kielellä tämä tarkoittaa sitä, että voimme luoda sinne nk. <strong>repositorioita</strong>, joihin voimme tallettaa sovelluksemme lähdekoodin. Jos et ole vielä rekisteröitynyt GitHubiin, se onnistuu <a href="https://github.com/join" target="_blank">täältä</a>.
</p>

<p>
  <img src="assets/images/github-fork.png" class="pull-right" style="margin-left: 15px;">
  Kun olet rekisteröitynyt, siirry <a href="https://github.com/Tsoha/Tsoha-Bootstrap" target="_blank">Tsoha Bootstrapin repositorioon</a>, jossa näet sen lähdekoodin. Forkkaa Tsoha Bootstrapin repositorio itsellesi klikkaamalla oikeasta yläkulmasta "Fork"-painiketta. Forkatusta repositoriosta tulee omasi ja se siirtyy omien repositorioidesi listaan. Siirry seuraavaksi forkkaamaasi repositorioon ja kopioi oikeassa alalaidassa sijaitsevan "HTTPS clone URL"-kentän sisältö, se näyttää seuraavanlaiselta:
</p>

<div hljs>https://github.com/KAYTTAJATUNNUS/Tsoha-Bootstrap.git</div>

<p>
  Siirry seuraavaksi terminaalissa hakemistoon, johon haluat <strong>kloonata</strong> repositoriosi. Repositorion kloonaaminen tarkoittaa yksinkertaisesti sitä, että luodaan repositorion niminen kansio, johon siirretään kaikki repositorion sisältämät lähdekoodit. Repositorion kloonaus tapahtuu terminaalissa seuraavasti (korvaa <code>KAYTTAJATUNNUS</code>-kohta omalla GitHubin käyttäjätunnuksellasi):
</p>

<div hljs># siirrytään haluamaamme hakemistoon (esimerkiksi työpöydälle)
cd $HOME/Desktop
# kloonataan repositorio
git clone https://github.com/KAYTTAJATUNNUS/Tsoha-Bootstrap.git</div>

<p>
  Se on siinä! Tarkastele seuraavaksi kansiota, johon kloonasit repositoriosi (esimerkissä se on työpöytä), sinne olisi pitänyt ilmestyä <code>Tsoha-Bootstrap</code> niminen kansio. Avaa <code>Tsoha-Bootstrap</code> kansio ja avaa sieltä <code>config</code>-kansiossa sijaitseva tiedosto <code>environment.sh</code> haluamallasi tekstieditorilla. Se näyttää seuraavalta:
</p>

<div hljs no-escape># korvaa tämä omalla käyttäjätunnuksellasi
USERNAME="kalleilv"
# korvaa tämä haluamallasi kansion nimellä
PROJECT_FOLDER="tsoha"
# sovelluksesi tulee sijaitsemaan osoitteessa USERNAME.users.cs.helsinki.fi/PROJECT_FOLDER</div>

<p>
  Korvaa <code>USERNAME</code>-muuttujan arvo omalla CS-käyttäjätunnuksellasi ja <code>PROJECT_FOLDER</code>-muuttujan arvo kansion nimellä, johon haluat sovelluksesi users-palvelimella sijoittaa. Sovelluksesi tulee asennuksen jälkeen sijaitsemaan
  osoitteessa <a>USERNAME.users.cs.helsinki.fi/PROJECT_FOLDER</a> (jossa <code>USERNAME</code> ja <code>PROJECT_FOLDER</code> ovat asettamiesi muuttujien arvot). Tallenna tiedosto, siirry terminaalissa <code>Tsoha-Bootstrap</code>-kansion juureen ja suorita seuraava komento:
</p>

<div hljs no-escape>bash bootstrap.sh</div>

<p>
  Tämä komento luo palvelimelle määrittämämme kansion ja siirtää kaikki tarvittavat tiedostot siihen. Sovelluksemme runko löytyy nyt osoitteesta <a>USERNAME.users.cs.helsinki.fi/PROJECT_FOLDER</a>, käydään kurkkaamassa, miltä se näyttää.
</p>

<p>
  Tämä riittää toistaiseksi, palaamme Tsoha Bootstrappin pariin taas viikolla 2.
</p>

<h3>3.7 Versionhallinta</h3>

<p>
  Lisätään seuraavaksi tekemämme muutokset versionhallintaan, jotta ne näkyvät repossamme GitHubissa. Siirrytään ensin terminaalissa repomme kansioon. Jos se on työpöydällä, se onnistuu seuraavasti:
</p>
<div hljs>cd $HOME/Desktop/Tsoha-Bootstrap</div>
<p>
  Kun olemme siirtyneet terminaalissa repomme kansioon, onnistuu muutosten lisääminen näiden yksinkertaisten komentojen avulla:
</p>
<p>
  <strong>1. Lisätään tiedostot</strong>
  <div hljs no-escape>git add -A</div>
</p>
<p>
  <strong>2. Luodaan committi, jossa kerrotaan lyhyesti, mitä uutta tässä päivityksessä on</strong>
  <div hljs no-escape>git commit -m "Sovellus alustettu ja versionhallinta otettu käyttöön"</div>
</p>
<p>
  <strong>3. Siirretään tiedostot repoon</strong>
  <div hljs no-escape>git push</div>
</p>
<p>
  Käy vielä tarkistamassa GitHubista reposi sivulta, että tiedostot on siirretty repoosi onnistuneesti.
</p>
<p>
  Saatat törmätä ongelmaan, jossa <code>git push</code>, komennon suorittamisen jälkeen terminaaliin ilmestyy seuraavanlainen virheilmoitus:
</p>
<div hljs no-escape>mac-macbook-air:Tsoha-Bootstrap kalle$ git push
To https://github.com/Tsoha/Tsoha-Bootstrap.git
! [rejected]        master -> master (fetch first)
error: failed to push some refs to 'https://github.com/Tsoha/Tsoha-Bootstrap.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help' for details.</div>
<p>
  Tämä johtuu siitä, että olet tehnyt muutoksia repoosi toiselta koneelta tai olet edioitunut jotain tiedostoa suoraan GitHubista. Ongelma ratkeaa suorittamalla reposi kansiossa komento <code>git pull</code>, joka päivittää lokaalin reposi tiedostot. <code>git pull</code>-komennon suorittamisen jälkeen terminaaliin aukeaa yleensä editorinäkymä, jonka voit sulkea syöttämällä <code>:q</code> ja painamalla <kbd>enter</kbd>-painiketta.
</p>
<p>
  Yksityskohtaisemmat Git-ohjeet löytyvät Ohjelmoinnin harjoitustyön <a href="http://javalabra.github.io/Javalabra2014-2/#/pages/ohjeet/Git-ohje.md">Git-ohje-sivulta</a>.
</p>
<p>
  <div class="alert alert-warning">
    <h4>Muistathan?</h4>
    Muista lisätä tekemäsi muutokset repoosi joka viikko, jotta ohjaaja voi seurata edistymistäsi.
  </div>
</p>
<h4>Issueiden salliminen</h4>
<p>
  Kurssilla on kaksi koodikatselmointia, jotka palautetaan repoosi <a href="https://guides.github.com/features/issues/" target="_blank">issuena</a>. Issueita käytetään usein ilmoittamaan sovellukseesi kohdistuneista bugeista ja parannusehdotuksista, joten se soveltuu myös hyvin koodikatselmoinnin lisäämiseen.
</p>
<p>
  Ongelmana vain on, että tällä hetkellä issueiden lisääminen ei ole sallittua repossasi. Ongelman korjaaminen on kuitenkin helppoa, siirry aluksi reposi sivulle GitHubissa. Klikkaa sen jälkeen oikeasta laidasta "Settings"-linkkiä ja valitse avautuvasta sivusta checkboxi "Issues". Issuet on nyt sallittu ja reposi sivun oikeaan laitaan olisi pitänyt ilmestyä "Issues"-linkki.
</p>
<hr>
<a id="4-perusasioiden-dokumentointi"></a>
<h2>4. Perusasioiden dokumentointi</h2>
<h3>4.1 Aiheen valinta</h3>
<p>
Tässä materiaalissa toteutan pienen sovelluksen, joka ratkaisee ystäväni ongelman. Ystävälleni Henrille on kertynyt todella paljon pelejä, eikä hän koskaan muista, mitkä niistä hän on jo läpäissyt ja mitkä on vielä kesken.
Henri haluaa siis mahdollisuuden lisätä pelejä kirjastoonsa ja muokata niiden tietoja. Lisäksi Henrin mielestä olisi hyvä idea, jos muutkin pystyisivät rekisteröitymään sovellukseen ja kirjautunut käyttäjä pystyisi lisäämään pelejä omaan kirjastoonsa. Huh, aikamoinen urakka tiedossa!
</p>

<p>
  Onko sinulla jo idea omalle sovelluksellesi? Jos ei ole, ei hätää! <a href="http://advancedkittenry.github.io/suunnittelu_ja_tyoymparisto/aiheet/index.html">Täältä</a> löytyy pitkä lista aihe-ehdotuksia. Ota aihetta valittaessa huomioon <a href="http://advancedkittenry.github.io/arvosteluperusteet.html">arvosteluperusteet</a>. Arvosanaan viisi vaaditaan sovellukselta ainakin seuraavia ominaisuuksia:
  <ul>
    <li>Kirjautumisen toteuttaminen</li>
    <li>Toteutettavia tietokohteita ainakin kolme</li>
    <li>Vähintään kahteen tietokohteeseen pitää olla toteutettuna täysi CRUD-nelikko: kohteen luominen, selailu, muokkaus, ja poisto</li>
    <li>Järjestelmässä on ainakin yksi monesta-moneen suhde tietokantataulujen välillä</li>
  </ul>
</p>

<h3>4.2 Johdanto ja käyttötapaukset</h3>
Aloitetaan dokumentaatiomme kirjoittaminen lisäämälle <code>doc</code>-kansiossa sijaitsevaan <code>dokumentaatio.pdf</code>-tiedostoon <strong><a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#johdanto">johdanto</a></strong> ja <strong><a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#yleiskuva-j%C3%A4rjestelm%C3%A4st%C3%A4">käyttötapaukset</a></strong>. Lisää kurssin edetessä aina kaikki dokumentaation osat tähän yhteen tiedostoon, niin dokumentaation lukeminen on helpompaa.
<p>
  <div class="alert alert-info">
    <h4>Vinkki</h4>
    <a href="http://www.yworks.com/en/products/yfiles/yed/">yEd</a> on kätevä kaavioeditori, jota kannattaa ehdottomasti kokeilla. Löydät UML-kaavioiden kannalta hyödylliset elementit valitsemalla oikeasta valikosta "UML" (joudut luultavasti skrollaamaan valikkoa hieman).
  </div>
</p>

<h3>4.3 README</h3>

Lisää vielä projektisi juuressa sijaitsevaan <code>README.md</code>-tiedostoon aiheesi kuvaus tai linkki valmiiseen aiheeseen, linkki sovellukseesi ja linkki dokumentaatioosi (linkki kansiossa <code>doc</code> sijaitsevaan <code>pdf</code>-tiedostoon). Älä pelästy tiedoston oudon muotoista sisältöä, siinä on käytössä <a href="https://help.github.com/articles/markdown-basics/" target="_blank">markdown</a>-syntaksi. 

<h3>4.4 Labtool</h3>
<strong><a href="http://tsoha-labtool.herokuapp.com">Labtool</a></strong> on kurssilla käytettävä sovellus, jonka avulla opiskelija voi katsella viikottaisista palautuksista saamiaan pisteitä ja ohjaajan kirjottamia palautetteita. Rekisteröidy labtooliin <a href="http://tsoha-labtool.herokuapp.com/register">tästä</a>. Käytä "Github repository"-kentässä forkkaamasi repon polkua ja "The test URL of your application"-kentässä sovelluksesi etusivun polkua, joka on muotoa <a>KAYTTAJATUNNUS.users.cs.helsinki.fi/PROJEKTIN_KANSIO</a>.
<hr>
<a id="5-palautuksen-vaatimukset"></a>
<h2>5. Palautuksen vaatimukset</h2>
<ol>
  <li>
    Valitse harjoitustyösi aihe (katso <a href="http://advancedkittenry.github.io/suunnittelu_ja_tyoymparisto/aiheet/index.html">aihe-ehdotukset</a>, jos aiheen valinta tuottaa vaikeuksia). <strong>(0,5p)</strong>
  </li>
  <li>
    Pystytä versionhallinta. <strong>(0,5p)</strong>
    <ul>
      <li>Luo repositorio <a href="http://github.com">GitHubiin</a>, ja lisää <code>README.md</code>-tiedostoon aiheesi kuvaus tai linkki valmiiseen aiheeseen, linkki sovellukseesi ja linkki dokumentaatioosi (linkki kansiossa <code>doc</code> sijaitsevaan <code>pdf</code>-tiedostoon).
    </ul>
  </li>
  <li>
    Dokumentoi perusasiat <code>doc</code>-kansioon yhteen <code>pdf</code>-tiedostoon. <strong>(1p)</strong></li>
    <ul>
      <li>Lisää <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#johdanto">johdanto</a></li>
      <li>Lisää <a href="http://advancedkittenry.github.io/dokumentaatio-ohje.html#yleiskuva-j%C3%A4rjestelm%C3%A4st%C3%A4">käyttötapaukset</a></li>
    </ul>
  </li>
  <li>
    Pystytä työympäristö. <strong>(1p)</strong>
    <ul>
      <li>Ota PHP-tuki käyttöön</li>
      <li>Ota PostgreSQL-tietokantapalvelin käyttöön</li>
      <li>Luo SSH-avain</li>
    </ul>
  </li>
  <li>Rekisteröidy <a href="http://tsoha-labtool.herokuapp.com">labtooliin</a>.</li>
</ol>
<a href="#viikko2" class="btn btn-default pull-right">Viikko 2 <span class="glyphicon glyphicon-chevron-right"></span></a>
